<!DOCTYPE html>
<html>
  <head>
    <title>README</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../_assets/css/style.css" type="text/css" media="screen" charset="utf-8" />

    <script type="text/javascript" charset="utf-8">
      relpath = '';
      if (relpath != '') relpath += '/';
    </script>

    <script type="text/javascript" charset="utf-8" src="../_assets/js/jquery.js"></script>
    <script type="text/javascript" charset="utf-8" src="../_assets/js/app.js"></script>
  </head>

  <body>
    <script type="text/javascript" charset="utf-8">
      if (window.top.frames.main) document.body.className = 'frames';
    </script>

    <div id="content">
      <%= Markdown.to_html(content) %>
    </div>
  </body>
</html>

