<div id="quick-switch-modal-wrapper">
  <div id="quick-switch-modal" class="modal" tabindex="-1">
    <div class="modal-contents">
      <div class="modal-header">
        <div class="modal-title">Go to a HexDocs package</div>
        <div class="modal-close">×</div>
      </div>
      <div class="modal-body">
        <div class="quick-switch-wrapper">
          <span class="icon-search" aria-hidden="true"></span>
          <input type="text" id="quick-switch-input" class="search-input" placeholder="Jump to..." autocomplete="off">
          <div id="quick-switch-results"></div>
        </div>
      </div>
    </div>
  </div>
</div>
