<div id="quick-switch-modal-wrapper">
  <div id="quick-switch-modal" class="modal" tabindex="-1">
    <div class="modal-contents">
      <div class="modal-header">
        <div class="modal-title">Quick Switch</div>
        <div class="modal-close">×</div>
      </div>
      <div class="modal-body">
        Hello!
      </div>
    </div>
  </div>
</div>
