<div class="summary-row">
  <div class="summary-signature"><a href="<%=enc_h module_node.id %>.html"><%=h module_node.title %></a></div>
  <%= if module_node.doc do %>
    <div class="summary-synopsis"><%= to_html(synopsis(module_node.doc), module_node) %></div>
  <% end %>
</div>
