    <footer>
      <p>
        This site was built using <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" rel="help">ExDoc</a> (v<%= ExDoc.version %>)
        and <a href="http://elixir-lang.org/" title="Elixir" rel="help">Elixir</a>.
      </p>
    </footer>
  </div>
</section>

    <script src="dist/app.js"></script>
  </body>
</html>
