<!DOCTYPE html>
<html lang="<%= config.language %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="ExDoc v<%= ExDoc.version() %>">
    <meta name="project" content="<%= config.project %> v<%= config.version%>">
    <%= if config.authors do %>
      <meta name="author" content="<%= Enum.join(config.authors, ", ") %>">
    <% end %>
    <%= if noindex do %>
      <meta name="robots" content="noindex">
    <% end %>
    <title><%= title %> — <%= config.project %> v<%= config.version %></title>
    <%= if config.favicon do %>
      <link rel="icon" href="<%= favicon_path(config) %>" />
    <% end %>
    <link rel="stylesheet" href="dist/<%= Assets.css_filename(config.proglang) %>" />
    <%= if config.canonical do %>
      <link rel="canonical" href="<%= config.canonical %>" />
    <% end %>
    <script defer src="<%= Assets.rev config.output, "dist/sidebar_items-*.js" %>"></script>
    <script defer src="docs_config.js"></script>
    <script defer src="dist/<%= Assets.js_filename() %>"></script>
    <%= before_closing_head_tag(config, :html) %>
  </head>
  <body>
    <script><%= ExDoc.Formatter.HTML.Assets.inline_js_source() %></script>
