<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= page.title %> – <%= config.project %> v<%= config.version %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="ExDoc v<%= ExDoc.version %>">
    <script>
      var cdn_protocol;
      cdn_protocol = ( window.location.protocol == 'https:' ) ? "https:" : "http:";
      document.write('<link href="' + cdn_protocol + '\/\/fonts.googleapis.com\/css?family=Lato:400,300,700,900%7CMerriweather:300italic,300,700,700italic%7CInconsolata:400,700" rel="stylesheet" type="text/css">');
    </script>
    <link rel="stylesheet" href="dist/app.css">
    <script src="dist/sidebar_items.js"></script>
  </head>
  <body data-type="<%= sidebar_type(page.type) %>">
