<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <title><%= config.project %> v<%= config.version %> Documentation</title>
    <script>
        window.onload = function frame_redirect() {
            if ( window.location.href.match(/\/#!/, window.location.hash)  ) {
                document.querySelector('#main').src = window.location.href.replace(/\/#!/, '/');
            } else if ( window.location.href.match(/\/index.html#!/, window.location.hash)  ) {
                document.querySelector('#main').src = window.location.href.replace(/\/index.html#!/, '/');
            }
        }
    </script>
</head>
<frameset cols="20%,*">
  <frame name="list" id="list" src="modules_list.html" />
  <frame name="main" id="main" src="<%= config.main %>.html" />
</frameset>
</html>
