<!DOCTYPE html>
<html>
  <head>
    <title>List of <%= String.capitalize("#{scope}") %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="css/full_list.css" type="text/css" media="screen" charset="utf-8" />
    <script type="text/javascript" charset="utf-8" src="js/jquery.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/full_list.js"></script>
    <base id="base_target" target="_parent" />
  </head>
  <body class="frames">
    <script type="text/javascript" charset="utf-8">
      if (window.top.frames.main) {
        document.getElementById('base_target').target = 'main';
        document.body.className = 'frames';
      }
    </script>
    <section id="content">
      <h1 id="full_list_header">
        <%= if url = config.homepage_url || config.source_url do %>
          <a href="<%= url %>" target="_top"><%= config.project %> v<%= config.version %></a>
        <% else %>
          <%= config.project %> v<%= config.version %>
        <% end %>
      </h1>

      <h2 id="sub_list_header">
        <%= if has_readme do %>
          <a href="README.html">README</a> -
        <% end %>
        <a href="overview.html">Overview</a>
      </h2>

      <div class="nav">
        <span class="<%= if(scope == :modules, do: "selected") %>"><a target="_self" href="modules_list.html">Modules</a></span>
        <span class="<%= if(scope == :exceptions, do: "selected") %>"><a target="_self" href="exceptions_list.html">Exceptions</a></span>
        <span class="<%= if(scope == :protocols, do: "selected") %>"><a target="_self" href="protocols_list.html">Protocols</a></span>
      </div>
      <div id="search">Search: <input type="text" id="search_field" autocomplete="off" autofocus="autofocus" /></div>

      <ul id="full_list">
        <%= for node <- nodes, do: list_item_template(node) %>
      </ul>
      
      <div id="no_results"></div>
    </section>
  </body>
</html>
