    <%= head_template(config, %{id: :overview}) %>
    <%= sidebar_template(config, modules, exceptions, protocols) %>

      <h1><%= config.project %> v<%= config.version %></h1>

      <h2>Page not found</h2>

      <p>Sorry, but the page you were trying to get to, does not exist. You
      may want to try searching this site using the sidebar or using our
      <a href="overview.html" title="Overview">overview</a> page to find what
      you were looking for.</p>

    <%= footer_template %>
