<div class="summary_row">
  <div class="summary_signature"><a href="<%=h node.id %>.html"><%=h node.id %></a></div>
  <%= if node.moduledoc do %>
    <div class="summary_synopsis"><%= to_html(synopsis(node.moduledoc)) %></div>
  <% end %>
</div>
