<%= head_template(config, %{id: :readme}) %>
<%= sidebar_template(config, modules, exceptions, protocols, true) %>

<div class="breadcrumbs">
  <button type="button" class="btn btn-default btn-sm" data-toggle="offcanvas">
    <span class="glyphicon glyphicon-menu-hamburger"></span>
  </button>
  <%= page_breadcrumbs(config, "README", "README.html#content") %>
</div>

<%= to_html(content) %>
<%= footer_template %>
