<%= head_template(config, %{id: :readme}) %>
<%= sidebar_template(config, modules, exceptions, protocols, true) %>

<div class="breadcrumbs">
  <button type="button" class="btn btn-default btn-sm" data-toggle="offcanvas" aria-label="Close">
    <span class="fa fa-bars" aria-hidden="true"></span>
  </button>
  <%= page_breadcrumbs(config, "README", "readme.html#content") %>
</div>

<%= to_html(content) %>
<%= footer_template %>
