<%= head_template(%{id: :readme, content: config}) %>
<%= sidebar_template(config, modules, exceptions, protocols, true) %>

<div class="breadcrumbs">
  <button type="button" class="btn btn-default btn-sm" data-toggle="offcanvas">
    <span class="fa fa-bars"></span>
  </button>
  <%= page_breadcrumbs(config, "README", "index.html#content") %>
</div>

<%= to_html(content) %>
<%= footer_template %>
