<%= head_template(config, %{title: translate(config, "Search"), type: :search}) %>
<%= sidebar_template(config, nodes_map) %>
<div id="search">
  <h1><%= translate(config, "Search") %></h1>
  <div class="loading"><div></div><div></div><div></div><div></div></div>
</div>
<%= footer_template(config) %>
<script src="<%= asset_rev config.output, "dist/search_items*.js" %>"></script>
