<%= head_template(config, "Search", true) %>
<%= sidebar_template(config, :search) %>

<div id="search">
  <h1>
    <span></span>
  </h1>

  <div class="loading"><div></div><div></div><div></div><div></div></div>
</div>
<script src="<%= Assets.rev config.output, "dist/search_data*.js" %>"></script>
<%= footer_template(config, nil) %>
