<%= unless Enum.empty?(nodes) do %>
  <table class="summary-table">
    <tr>
      <th>
        <a href="#<%= name %>"><%= String.capitalize name %></a>
      </th>
    </tr>
    <%= for module_node <- nodes, do: summary_item_template(module_node) %>
  </table>
<% end %>
