<div class="type-detail">
  <p class="typespec" id="<%=h link_id(node) %>">
    <%= node.spec %>
  </p>
  <%= if node.doc do %>
      <div class="typespec-doc"><%= to_html(node.doc) %></div>
  <% end %>
</div>
