<div id="keyboard-shortcuts-modal-body">
  {{#each shortcuts}}
    {{#if this.description}}
      <dl class="shortcut-row">
        <dt class="shortcut-keys">
          {{#if this.displayAs}}
            {{{this.displayAs}}}
          {{else}}
            <kbd><kbd>{{this.key}}</kbd></kbd>
          {{/if}}
        </dt>
        <dd class="shortcut-description">
          {{this.description}}
        </dd>
      </dl>
    {{/if}}
  {{/each}}
</div>
