<div id="quick-switch-modal-body">
  <span class="icon-search" aria-hidden="true"></span>
  <input type="text" id="quick-switch-input" class="search-input" placeholder="Jump to..." autocomplete="off">
  <div id="quick-switch-results"></div>
</div>
