<div id="quick-switch-modal-body">
  <div>
    <i class="ri-search-2-line" aria-hidden="true"></i>
    <input type="text" id="quick-switch-input" class="search-input" placeholder="Jump to..." autocomplete="off" spellcheck="false">
    <div id="quick-switch-results"></div>
  </div>
</div>
