<div id="settings-modal-content">
  <label class="switch-button-container">
    <span>Night mode</span>
    <div class="switch-button">
      <input class="switch-button__checkbox" type="checkbox" name="night_mode" />
      <div class="switch-button__bg"></div>
    </div>
  </label>
  <label class="switch-button-container">
    <span>Tooltips</span>
    <div class="switch-button">
      <input class="switch-button__checkbox" type="checkbox" name="tooltips" />
      <div class="switch-button__bg"></div>
    </div>
  </label>
  <label class="switch-button-container">
    <span>Point badges directly to Livebook</span>
    <div class="switch-button">
      <input class="switch-button__checkbox" type="checkbox" name="direct_livebook_url" />
      <div class="switch-button__bg"></div>
    </div>
  </label>
  <input class="input" type="text" name="livebook_url" placeholder="Livebook URL" />
</div>
