<form autocomplete="off">
  <label>
    <span class="sidebar-projectVersionsDropdownCaret" aria-hidden="true">&#x25bc;</span>
    <span class="sr-only">Project version</span>
    <select class="sidebar-projectVersionsDropdown">
      {{#each nodes}}
        <option translate="no" value="{{url}}"{{#if isCurrentVersion}} selected disabled{{/if}}>
          {{version}}
        </option>
      {{/each}}
    </select>
    {{#if jumpToLatestUrl }}
      <span class="sidebar-projectVersionsLatestLink"><a href="{{jumpToLatestUrl}}">⚠️ Go to latest</a></span>
    {{/if}}
  </label>
</form>
