<form autocomplete="off">
  <select class="sidebar-projectVersionsDropdown">
    {{#each nodes}}
      <option translate="no" value="{{url}}"{{#if isCurrentVersion}} selected disabled{{/if}}>
        {{version}}
      </option>
    {{/each}}
  </select>
  {{#unless nodes.0.isCurrentVersion}}
    <button type="button" class="sidebar-projectLatestVersionButton" value="{{nodes.0.version}}">Jump to Latest</button>
  {{/unless}}
</form>
