.autocomplete {
  display: none;
  width: 100%;

  &.shown {
    display: block;
  }
}

.autocomplete-suggestions {
  z-index: 200;
}

.autocomplete-suggestion {
  color: inherit;
  display: block;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 10px;

  &:hover, &.selected {
    background-color: @accentMediumGray;
  }

  em {
    font-style: normal;
    font-weight: bold;
  }

  .description {
    opacity: 0.6;
    padding-top: 3px;
  }

  .label {
    padding-left: 2px;
    opacity: 0.75;
  }


  .title,
  .description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }
}

.autocomplete-suggestion:last-child {
  margin-bottom: 0 !important;
}