// Customizations
code {
  font-family: @monoFontFamily;
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
  background-color: #FAFAFC;
  border: 1px solid #E3E4E8;
  vertical-align: top;
  border-radius: 2px;
  padding: 0 .5em;
}

pre {
  margin: @baseLineHeight 0;

  &.spec {
      margin: 0;
  }

  &.spec code {
    padding: 0;
  }

  code.hljs {
    white-space: inherit;
    padding: @baseLineHeight;
    border-radius: 2px;
  }

  code a,
  code a:visited {
    color: white;
  }
}