// Customizations
code {
  font-family: @monoFontFamily;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  background-color: #FAFAFC;
  border: 1px solid #E3E4E8;
  vertical-align: middle;
}

pre.spec {
  margin: 0;
}
pre.spec code {
  padding: 0;
}

pre {
  margin: @baseLineHeight 0;
}

pre code.hljs {
  white-space: inherit;
  padding: @baseLineHeight;
  border-radius: 2px;
}

pre code a,
pre code a:visited {
  color: white;
}
