// Content Styles

.content-inner {
  font-family: @serifFontFamily;
  font-size: 1em;
  line-height: 1.6875em;
  position: relative;
  color: @darkGrayTextBody;
  background-color: @white;

  @import './content/general';
  @import './content/admonition';
  @import './content/summary';
  @import './content/functions';
  @import './content/code';
  @import './content/footer';
  @import './content/bottom-actions.less';
}

body:not(.night-mode) .content-inner img[src*="#gh-dark-mode-only"] {
  display: none;
}
