// General Styles

html,
body {
  // Prevent scroll on narrow devices
  overflow-x: hidden;
}

body {
  font-size: 18px;
  line-height: @baseLineHeight;
  font-family: @serifFontFamily;
  color: @darkGray;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  text-decoration: none;
  border: none;
}

a:hover {
  color: @darkGray;
}
