#header {
  height: 70px;
  background: @mediumGray;
  font-family: @sansFontFamily;
  padding: 10px 30px;

  position: fixed;
  z-index: 999;
  width: 100%;

  h1,
  h2 {
    margin: 0;
    padding: 0;
  }

  h1 {
    line-height: 22px;
  }

  h1 a {
    font-family: @sansFontFamily;
    font-size: 18px;
    font-weight: 400;
    color: @white;
  }

  h2 {
    font-size: 14px;
    font-weight: 300;
    color: @gray;
  }
}