@font-face {
  font-family: 'remixicon';
  src: url('../fonts/remixicon.eot?t=1590207869815'); /* IE9*/
  src: url('../fonts/remixicon.eot?t=1590207869815#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/remixicon.woff2?t=1590207869815') format('woff2'),
  url('../fonts/remixicon.woff?t=1590207869815') format('woff'),
  url('../fonts/remixicon.ttf?t=1590207869815') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/remixicon.svg?t=1590207869815#remixicon') format('svg'); /* iOS 4.1- */
  font-display: swap;
}

[class^="ri-"], [class*=" ri-"], .remix-icon {
  font-family: 'remixicon';
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@icon-arrow-up-s: "\ea78";
@icon-arrow-down-s: "\ea4e";
@icon-arrow-right-s: "\ea6e";
@icon-add: "\ea13";
@icon-subtract: "\f1af";
@icon-error-warning: "\eca1";
@icon-information: "\ee59";
@icon-alert: "\ea21";
@icon-double-quotes-l: "\ec51";
@icon-link-m: "\eeaf";
@icon-close-line: "\eb99";
@icon-code-s-slash-line: "\ebad";
@icon-menu-line: "\ef3e";
@icon-search-2-line: "\f0cd";
@icon-settings-3-line: "\f0e6";

.ri-lg { font-size: 1.3333em; line-height: 0.75em; vertical-align: -.0667em; }
.ri-settings-3-line:before { content: @icon-settings-3-line; }
.ri-add-line:before { content: @icon-add; }
.ri-subtract-line:before { content: @icon-subtract; }
.ri-arrow-up-s-line:before { content: @icon-arrow-up-s; }
.ri-arrow-down-s-line:before { content: @icon-arrow-down-s; }
.ri-arrow-right-s-line:before { content: @icon-arrow-right-s; }
.ri-search-2-line:before { content: @icon-search-2-line; }
.ri-menu-line:before { content: @icon-menu-line; }
.ri-close-line:before { content: @icon-close-line; }
.ri-link-m:before { content: @icon-link-m; }
.ri-code-s-slash-line:before { content: @icon-code-s-slash-line; }
.ri-error-warning-line:before { content: @icon-error-warning; }
.ri-information-line:before { content: @icon-information; }
.ri-alert-line:before { content: @icon-alert; }
.ri-double-quotes-l:before { content: @icon-double-quotes-l; }
