#keyboard-shortcuts {
  dl.shortcut-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 6px 0;
  }

  .shortcut-keys {
    display: inline-block;
  }

  .shortcut-description {
    display: inline-block;
    color: #445668;
  }

  kbd > kbd {
    background-color: @bgDarkGray;
    border-radius: 3px;
    color: @lightestGray;
    font-family: inherit;
    font-weight: bold;
    display: inline-block;
    line-height: 1;
    padding: 4px 7px 6px 7px;
    min-width: 26px;
    text-align: center;
    margin-left: 3px;
    border-bottom: 1px solid #91A4B7;
  }

  .shortcut-keys,
  .shortcut-description {
    margin: 0;
  }
}
