html,
body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.main {
  .display(flex);
}


.sidebar {
  .flex(0, 1, 300px);
}

.content {
  .flex(1);
}

.content-inner {
  max-width: 768px;
  margin: 0 auto;
  padding: 20px 40px;
}