@keyframes keyboard-shortcuts-show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.modal {
  animation-duration: 0.15s;
  animation-name: keyboard-shortcuts-show;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 300;

  &.shown {
    display: block;
  }

  .modal-contents {
    margin: 75px auto 0 auto;
    max-width: 500px;
    background-color: @white;
    border-radius: 3px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    padding: 25px 35px 35px;

    @media screen and (max-width: 768px) {
      padding: 20px;
    }
  }

  .modal-header {
    display: flex;
    align-items: start;
  }

  .modal-title {
    display: inline-block;
    flex-grow: 1;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 20px;

    button {
      border: none;
      background: transparent;
      font-weight: bold;
      margin-right: 30px;
      padding-left: 0;
      text-align: left;
      transition: color 150ms;

      &:hover {
        color: @main;
        cursor: pointer;
      }
      &.active {
        color: @main;
      }
    }
  }

  .modal-close {
    cursor: pointer;
    display: block;
    font-size: 1.5rem;
    margin: -8px -8px 0 0;
    padding: 8px;
    opacity: 0.3;
    background: none;
    border: none;
    transition: opacity 150ms;

    &:hover {
      opacity: 0.7;
    }
  }
}
