#popover {
  box-shadow: 0 0 10px fade(@black, 10%);
  display: none;
  max-height: 300px;
  max-width: 500px;
  padding: 0;
  position: absolute;
  pointer-events: none;
  margin: 0;
  z-index: 99;

  &.popover-visible {
    display: block;
    transform: translateY(20px);
    transition: 0.15s transform ease-out, 0.1s opacity ease-out;
    opacity: 0;
  }

  &.popover-shown {
    transform: translateY(0);
    opacity: 1;
  }

  .popover-body {
    border: 1px solid fade(@mediumGray, 30%);

    .detail-header {
      border-left: 0;
      margin-bottom: 0;
      margin-top: 0;

      h2 {
        margin: 0 0 0.2rem 0;
      }
    }

    .docstring {
      background-color: @white;
      padding: 1.2em;
      margin: 0;
      width: 498px; // Taking 2 * 1px of border into account
    }

    .docstring-type {
      max-width: 498px;
      width: auto;
    }
  }

  .popover-iframe {
    display: none;
    margin: 0;
    padding: 0;
  }
}

.popovers-toggle {
  .popovers-option-enable {
    display: none;
  }

  &[data-is-disabled="true"] {
    .popovers-option-enable {
      display: inline;
    }

    .popovers-option-disable {
      display: none;
    }
  }
}

