#popover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.10);
  display: none;
  height: 160px;
  padding: 0;
  position: absolute;
  margin: 0;
  z-index: 99;

  &.popover-visible {
    display: block;
    transform: translateY(20px);
    transition: 0.2s all ease-out;
    opacity: 0;
  }

  &.popover-shown {
    transform: translateY(0);
    opacity: 1;
  }

  .popover-iframe {
    border: 1px solid fade(@mediumGray, 30%);
    height: 160px;
    margin: 0;
    padding: 0;
    width: 500px;
  }
}

