// Print styles

@media print {
  .main {
    display: block;
  }

  .sidebar, .sidebar-button {
    display: none;
  }

  .content {
    padding-left: 0;
    overflow: visible;
  }

  .summary-row {
    page-break-inside: avoid;
  }
}
