// Responsive Rules

@media screen and (min-width: 767px) {
  .row-offcanvas {
    position: relative;
  }

  .row-offcanvas-left {
    left: 25%; /* 3 columns */
    margin-left: 0;
  }

  .sidebar-offcanvas {
    position: fixed;
    left: 0;
    top: 70px;
    bottom: 0;
    overflow: auto;
    width: 25%;
    padding: 30px 10px 30px 30px;
  }

  .mobile-nav-toggle {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    transition: all .25s ease-out;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
    border-right: 1px solid #ccc;
  }

  .sidebar-offcanvas.col-xs-6 {
    padding-left: 60px;
  }

  .pull-right button {
    margin: 3px 6px 0 0;
  }

  #content.col-xs-12 {
    padding-left: 30px;
  }

  #content.col-xs-12.offcanvas-active {
    padding-left: 15px;
  }

  .mobile-nav-toggle {
    display: inline;
  }
}
