#search {
  min-height: 200px;

  h1 {
    display: inline-block;
  }

  .result {
    margin: 2em 0em;
    p {
      margin: 0em;
    }
  }

  .result-id {
    font-size: 1.4em;
    margin: 0em;
    a {
      text-decoration: none;
      transition: color .3s ease-in-out;

      &:visited,
      &:active,
      &:focus {
        color: @black;
      }

      &:hover {
        color: @purple;
      }
    }
  }

  .result-id em,
  .result-elem em {
    font-style: normal;
    color: @purple;
  }
  .result-id small {
    font-weight: normal;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
