#settings-modal-content {
  margin-top: 10px;

  .hidden {
    display: none;
  }

  .input {
    width: 80%;
    padding: 8px;
    color: #445668;
    font-size: 14px;
    border: 1px solid @accentLightGray;
    box-sizing: border-box;
    border-radius: 8px;
    transition: border-color 150ms;

    &:focus {
      outline: none;
      border-color: @main;
    }

    &::-webkit-input-placeholder {
      color: @lightGray;
    }

    &::-moz-placeholder {
      color: @lightGray;
    }

    &:-moz-placeholder {
      color: @lightGray;
    }

    &:-ms-input-placeholder {
      color: @lightGray;
    }
  }

  .switch-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid @accentLightGray;
    padding: 10px 0;
    &:first-of-type {
      border-top-style: none;
      padding-top: 0px;
    }
  }

  .switch-button-container > div > span {
    font-size: 18px;
  }

  .switch-button-container > div > p {
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
    padding-bottom: 6px;
    padding-right: 10px;
  }

  .switch-button {
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    width: 40px;
    height: 20px;
    user-select: none;
    transition: all 150ms;
  }

  .switch-button__checkbox {
    appearance: none;
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 1000px;
    background-color: #91a4b7;
    border: 3px solid #e5edf5;
    cursor: pointer;
    transition: all 300ms;
  }

  .switch-button__bg {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 1000px;
    background-color: #e5edf5;
    cursor: pointer;
    transition: all 300ms;
  }

  .switch-button__checkbox:checked {
    background-color: white;
    border-color: @main;
    transform: translateX(100%);
  }

  .switch-button__checkbox:checked + .switch-button__bg {
    background-color: @main;
  }

  .settings-select {
    cursor: pointer;
    position: relative;
    border: none;
    background-color: transparent;

    option {
      color: initial;
    }

    &:focus {
      outline: none;
    }
  }
}
