#sidebar {
  font-family: @sansFontFamily;
  font-size: 14px;
  color: @lighterViolett;
  background-color: @darkViolett;

  a,
  a:link,
  a:visited {
    text-decoration: none;
    color: @lighterViolett;
  }

  .main-nav {
    list-style: none;
    padding: 20px 0;
    margin: 0;

    li {
      padding-left: 17px;
      border-left: 3px solid @darkViolett;
      transition: border 0.3s linear;

      a {
        text-tranform: uppercase;
        transition: color 0.3s linear;
      }

      &.selected,
      &:hover {
        background-color: @darkestViolett;
        border-color: @green;

        a {
          color: @white;
        }
      }
    }
  }

  #search {
    font-size: 12px;
    line-height: 18px;
    margin: 0 20px;

    #search_field {
      border: 1px solid @lightViolett;
      background-color: @darkViolett;
      border-radius: 2px;
      box-shadow: none;
      font-size: 14px;
      padding-left: 30px;

      &::placeholder {
        font-family: @sansFontFamily;
        color: @lighterViolett;
      }
    }

    .col-xs-10 {
      padding: 0;
      width: 100%;
    }

    .col-xs-2 {
      font-size: 1.6em;
      padding-right: 3px;
    }

    button {
      outline: 0;
      position: absolute;
      border: none;
      z-index: 10;
      padding: 0;
      top: 6px;
      left: 8px;
      color: @lighterViolett;
      background-color: transparent;
    }
  }

  .nav-list {
    position: fixed;
    overflow: auto;
    top: 270px;
    bottom: 0;
    left: 0;
    width: 200px;

    font-size: 14px;

    ul {
      list-style: none;
      padding: 0 0 0 20px;
      margin: 0;

      .no-padding {
        padding: 0;
      }

      .node-name {
        display: none;
      }

      /* while searching */

      .in-search & ul {
        margin-left: 0;
      }

      .in-search & li {
        display: none;
      }

      .in-search & li.found {
        display: list-item;
      }

      .in-search & li span.node-name {
        display: block;
      }

      /* collapsed menu */

      .search-uncollapsed,
      .search-uncollapsed ul {
        display: block !important;
      }

      ul.collapsed ul,
      ul.collapsed li,
      li.collapsed ul,
      li.collapsed li {
        display: none;
      }

      ul.search-uncollapsed li.found,
      li.search-uncollapsed li.found {
        display: list-item;
      }

      li {
        &.node > .object-link {
          text-transform: uppercase;
          font-weight: 700;
        }

        &.docs.collapsed {
          display: none;
        }

        &.deprecated {
          text-decoration: line-through;
          font-style: italic;
        }

        .object-link {
          font-weight: 300;
        }
      }
    }
  }

  #no_results {
    margin-left: 7px;
    padding: 7px 12px;
  }
}
