.sidebar {
  font-family: @sansFontFamily;
  font-size: 15px;
  line-height: 18px;
  background: @darkGray;
  color: @lightestGray;
  overflow: hidden;

  .gradient {
    background: linear-gradient(rgba(55,63,82,1), rgba(55,63,82,0));
    height: 20px;
    margin-top: -20px;
    pointer-events: none;
    position: relative;
    top: 20px;
    z-index: 100;
  }

  ul {
    list-style: none;

    li {
      margin: 0;
      padding: 0 10px;
    }
  }

  a {
    color: @lightestGray;
    text-decoration: none;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: @white;
    }
  }

  .sidebar-projectLink {
    margin: 23px 30px 0;
  }

  .sidebar-projectDetails {
    display: inline-block;
    text-align: right;
    vertical-align: top;
    margin-top: 6px;
  }

  .sidebar-projectImage {
    display: inline-block;
    max-width: 64px;
    max-height: 64px;
    margin-left: 15px;
    vertical-align: bottom;
  }

  .sidebar-projectName {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: @white;
    margin: 0;
    padding: 0;
    max-width: 230px;
    word-wrap: break-word;
  }

  .sidebar-projectVersion {
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: @white;
  }

  .sidebar-listNav {
    padding: 10px 30px 20px 30px;
    margin: 0;

    li,
    li a {
      text-transform: uppercase;
      font-weight: 300;
    }

    li {
      padding-left: 17px;
      border-left: 3px solid transparent;
      transition: all 0.3s linear;
      line-height: 27px;

      &:hover,
      &:hover a {
        color: @white;
      }
    }
  }

  .sidebar-listNav {
    li,
    li a {
      font-size: 14px;
    }

    li {
      &:hover,
      &.selected,
      &:hover a,
      &.selected a {
        border-color: @purple;
        color: @white;
      }
    }
  }

  .sidebar-search {
    margin: 23px 30px 18px;
    .display(flex);

    .icon-search {
      font-size: 14px;
      color: @lightestGray;
    }

    .sidebar-searchInput {
      background-color: transparent;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid @mediumGray;
      margin-left: 5px;
      height: 20px;

      &:focus,
      &:hover {
        outline: none;
      }
    }
  }

  #full-list {
    margin: 0 0 0 30px;
    padding: 10px 20px 40px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    .flex(1);

    ul {
      display: none;
      margin: 9px 15px;
      padding: 0;

      li {
        font-weight: 300;
        line-height: 18px;
        padding: 2px 10px;

        a.expand:before {
          content: "+";
          font-family: monospaced;
          font-size: 15px;
          float: left;
          width: 13px;
          margin-left: -13px;
        }

        &.open a.expand:before {
          content: "−";
        }

        ul {
          display: none;
          margin: 9px 6px;

          li {
            border-left: 1px solid @mediumGray;
            padding: 0px 10px;

            &.active:before {
              .icon-elem;
              content: @icon-angle-right;
              margin-left: -10px;
              font-size: 16px;
              margin-right: 5px;
            }
          }
        }

        &.open > ul {
          display: block;
        }
      }
    }

    li {
      padding: 0;
      line-height: 27px;

      &.active {
        border-left: none;
      }

      &.active > a, &.clicked > a {
        color: @white;
      }

      &.open > ul {
        display: block;
      }
    }

    li.group {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.8em;
      margin: 2.0em 0 0;
      line-height: 1.8em;
      color: @groupGray;
    }
  }
}

@media screen and (max-height: 500px) {
  .sidebar {
    overflow-y: auto;

    #full-list {
      overflow: visible;
    }
  }
}
