.sidebar {
  font-family: @sansFontFamily;
  font-size: 14px;
  line-height: 18px;
  background: @darkGray;
  color: @lightestGray;
  overflow: hidden;


  .sidebar-toggle {
    display: block;
    left: 275px;
    color: @gray;

    &:hover {
      color: @white;
    }
  }

  ul {
    list-style: none;

    li {
      margin: 0;
      padding: 0 10px;
    }
  }

  a {
    color: @lightestGray;
    text-decoration: none;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: @white;
    }
  }

  .sidebar-projectLink {
    margin: 23px 30px 0;
  }

  .sidebar-projectDetails {
    display: inline-block;
    text-align: right;
    vertical-align: top;
    margin-top: 6px;
  }

  .sidebar-projectImage {
    display: inline-block;
    max-width: 64px;
    max-height: 64px;
    margin-left: 15px;
    vertical-align: bottom;
  }

  .sidebar-projectName {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: @white;
    margin: 0;
    padding: 0;
    max-width: 155px;
  }

  .sidebar-projectVersion {
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: @white;
  }

  .sidebar-listNav {
    padding: 0px 30px;

    li,
    li a {
      text-transform: uppercase;
      font-weight: 300;
    }

    li {
      padding-left: 17px;
      border-left: 3px solid transparent;
      transition: all 0.3s linear;
      line-height: 27px;

      &:hover,
      &:hover a {
        color: @white;
      }
    }
  }

  .sidebar-listNav {
    li,
    li a {
      font-size: 13px;
    }

    li {
      &:hover,
      &.selected,
      &:hover a,
      &.selected a {
        border-color: @purple;
        color: @white;
      }
    }
  }

  .sidebar-search {
    margin: 23px 30px 18px;
    .display(flex);

    i.icon-search {
      font-size: 14px;
      color: @lightestGray;
    }

    .sidebar-searchInput {
      background-color: transparent;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid @mediumGray;
      margin-left: 5px;
      height: 20px;

      &:focus,
      &:hover {
        outline: none;
      }
    }
  }

  #full-list {
    margin: 4px 0 0 30px;
    padding: 0 20px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    .flex(1);

    ul {
      margin: 0 20px;
      padding: 9px 0 18px;

      li {

        font-weight: 300;
        line-height: 18px;

        ul {
          display: none;
          padding: 9px 0;

          li {
            border-left: 1px solid @mediumGray;
            padding: 0 10px;

            &.active:before {
              .icon-elem;
              content: @icon-angle-right;
              margin-left: -10px;
              font-size: 16px;
              margin-right: 5px;
            }
          }
        }

        &.active {
          border-left: none;

          a {
            color: @white;
          }

          ul {
            display: block;
          }
        }
      }
    }

    li {
      padding: 0;
      line-height: 27px;

      &.collapsed ul {
        display: none;
      }

      &.clicked > a {
        color: @white;
      }
    }
  }
}


@media screen and (min-width: 768px) {
  .sidebar {
    position: relative;
    .display(flex);
  }
}

@media screen and (max-height: 500px) {
  .sidebar {
    overflow-y: auto;

    #full-list {
      overflow: visible;
    }
  }
}