#tooltip {
  box-shadow: 0 0 10px fade(@black, 10%);
  max-height: 300px;
  max-width: 500px;
  padding: 0;
  position: absolute;
  pointer-events: none;
  margin: 0;
  z-index: 99;
  top: 0;
  left: 0;

  // Show-up animation
  // ======
  // Note: it's fine to hide the tooltip with `visibility: hidden` (rather than `display: none`)
  // as it has absolute positioning, so doesn't impact the layout and click events pass through.

  visibility: hidden;
  transform: translateY(20px);
  opacity: 0;

  transition: 0.2s visibility ease-out, 0.2s transform ease-out, 0.2s opacity ease-out;

  &.tooltip-shown {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
  }

  // ======

  .tooltip-body {
    border: 1px solid fade(@mediumGray, 30%);

    .signature {
      min-width: 320px;
      width: 100%;
    }

    .detail-header {
      border-left: 0;
      margin-bottom: 0;
      margin-top: 0;
    }

    .docstring {
      background-color: @white;
      padding: 1.2em;
      margin: 0;
      width: 498px; // Taking 2 * 1px of border into account
    }

    // Used for simple tooltips having only description.
    .docstring-plain {
      max-width: 498px;
      width: auto;
    }

    .version-info {
      float: right;
      line-height: 1.6rem;
      font-family: @monoFontFamily;
      font-size: 0.9rem;
      font-weight: normal;
      margin-bottom: -6px;
      opacity: 0.3;
      padding-left: 0.3em;
    }
  }
}

.tooltips-toggle {
  .tooltips-option-enable {
    display: none;
  }

  &[data-is-disabled="true"] {
    .tooltips-option-enable {
      display: inline;
    }

    .tooltips-option-disable {
      display: none;
    }
  }
}
