// Variables


// Colors

@darkGray: #373f52;
@mediumGray: #959595;
@gray: #e1e1e1;
@lightestGray: #d5dae6;
@white: #ffffff;
@black: #000000;
@purple: #9768d1;
@codeBackground: #f7f9fc;
@detailGray: #f7f7f7;
@groupGray: #dddddd;

// Night mode
@nightBackground: #212127;
@nightCodeBackground: #2C2C31;
@nightCodeBorder: #38383D;
@nightTextBody: #B4B4B4;
@nightTextHeaders: #D2D2D2;
@nightFnHeaderBg: #3A4152;

// Font Families
@serifFontFamily: 'Merriweather', 'Book Antiqua', Georgia, 'Century Schoolbook', serif;
@sansFontFamily: 'Lato', sans-serif;
@monoFontFamily: 'Inconsolata', Menlo, Courier, monospace;

// Typography
@baseFontSize: 18px;
@baseLineHeight: 1.5em;
