// Variables


// Colors

@darkGray: #3C4151;
@mediumGray: #4c5264;
@gray: #959cad;
@lightGray: #C1C6D1;
@lighterGray: #ecf0f1;

@green: #76ffe5;
@white: #FFFFFF;

@darkestViolett: #160e23;
@darkViolett: #231836;
@violett: #5f3a99;
@lightViolett: #6b6b99;
@lighterViolett: #c5b8e3;

// Font Families
@serifFontFamily: 'Source Serif Pro', serif;
@sansFontFamily: 'Source Sans Pro', sans-serif;
@monoFontFamily: 'Source Code Pro', Menlo, Courier, monospace;


// Typography

@baseFontSize: 1.125em;
@baseLineHeight: 1.388888889em;

@h1FontSize: 2.833333333em;
@h1Line: 0.490196078em;
@h1Lines: 3;
@h1LineHeight: @h1Line * @h1Lines;
@h1MarginTop: 2 * @h1Line;
@h1MarginBottom: 1 * @h1Line;

@h2FontSize: 2em;
@h2Line: 0.694444444em;
@h2Lines: 2;
@h2LineHeight: @h2Line * @h2Lines;
@h2MarginTop: 2 * @h2Line;
@h2MarginBottom: 1 * @h2Line;

@h3FontSize: 1.388888889em;
@h3Line: 1em;
@h3Lines: 1;
@h3LineHeight: @h3Line * @h3Lines;
@h3MarginTop: 1 * @h3Line;
@h3MarginBottom: 1 * @h3Line;

@h4FontSize: 1em;
@h4Line: 1.388888889em;
@h4Lines: 1;
@h4LineHeight: @h4Line * @h4Lines;
@h4MarginTop: 1 * @h4Line;
@h4MarginBottom: 1 * @h4Line;