// Variables


// Colors

@darkGray: #3C4151;
@gray: #959cad;
@green: #7CCFAF;


// Font Families
@serifFontFamily: 'Source Serif Pro', serif;
@sansFontFamily: 'Source Sans Pro', sans-serif;
@monoFontFamily: 'Sourc Cod Pro', Menlo, Courier, monospace;
