// Colors
@mediumGray: #767676;
@gray: #e1e1e1;
@lightestGray: #d5dae6;
@white: #ffffff;
@black: #000000;
@codeBackground: #f7f9fc;
@detailGray: #f7f7f7;
@groupGray: #dddddd;
@yellow: #FFDCB2; // yellow 300
@deprecated: #FFEED9; // yellow 200
@darkDeprecated: #FFB965; // yellow 500
@offWhite: #E5E5E5;

// Light mode
@darkGrayTextHeaders: #0D1829; // gray 800
@darkGrayTextBody: #1C2A3A; // gray 700

// Night mode
@nightYellow: #B7641F; // yellow 800
@nightMediumGray: #445668; // gray 500
@nightBackground: #030913; // gray 900
@nightCodeBackground: #0D1829; // gray 800
@nightCodeBorder: #304254; // gray 600
@nightTextBody: #CAD5E0; // gray 200
@nightTextHeaders: #F0F5F9; // gray 50
@nightHeader: #0D1829; // gray 800
@nightDeprecated: #934814; // yellow 900

// Font Families
@serifFontFamily: 'Merriweather', 'Book Antiqua', Georgia, 'Century Schoolbook', serif;
@sansFontFamily: 'Lato', sans-serif;
@monoFontFamily: 'Inconsolata', Menlo, Courier, monospace;

// Typography
@baseFontSize: 18px;
@baseLineHeight: 1.5em;

// Sidebar Grays
@bgDarkGray: #0D1829; // gray 800
@bgMediumGray: #1C2A3A; //gray 700
@accentMediumGray: #304254; // gray 600
@lightestGray: #F0F5F9; // gray 50
@lightGray: #91A4B7; // gray 300
@accentLightGray: #CAD5E0; // gray 200
