@import '../../variables';

code {
  background-color: @nightCodeBackground;
  border-color: lighten(@nightCodeBackground, 10%);
}

pre {
  code:not(.inline) {
    background-color: @nightCodeBackground;
  }

  a {
    text-decoration: none;
  }
}
