code {
  background-color: @nightCodeBackground;
  border-color: lighten(@nightCodeBackground, 10%);
}

pre {
  code {
    background-color: @nightCodeBackground;
  }

  a, a:visited {
    color: @white;
    text-decoration: none;
  }

  a:hover {
    color: @main;
  }
}
