.footer {
  color: @nightMediumGray;

  .footer-button {
    color: @nightMediumGray;
    .linkUnderlines(@nightMediumGray)
  }

  a {
    color: @nightMediumGray;
    .linkUnderlines(@nightMediumGray)
  }
}
