h1,
h2,
h3,
h4,
h5,
h6 {
  color: @nightTextHeaders;
}

a {
  color: @nightTextHeaders;
  text-decoration: none;
  .linkUnderlines(@nightBackground, @nightTextHeaders);
}

a.view-source {
  background: none;
  text-shadow: none;
}

.summary h2 a {
  background: none;
  text-shadow: none;
}

