.summary-table {

  table, th, td {
    border: 1px solid @nightBackground;
  }

  th {
    background-color: @darkGray;

    a {
      text-shadow: none;
      background-image: none;
    }
  }

  td {
    background-color: @nightCodeBackground;
  }

}