a.no-underline,
pre a {
  color: @purple;
  text-shadow: none;
  text-decoration: none;
  background-image: none;

  &:visited,
  &:active,
  &:focus,
  &:hover {
    color: @purple;
    text-decoration: none;
  }
}

code {
  font-family: @monoFontFamily;
  font-style: normal;
  line-height: 24px;
  font-weight: 400;
  background-color: @codeBackground;
  vertical-align: baseline;
  border-radius: 2px;
  padding: .1em .2em;
  border: 1px solid darken(@codeBackground, 10%);
}

pre {
  margin: @baseLineHeight 0;

  &.spec {
    margin: 0;
  }

  &.spec code {
    padding: 0;
  }

  code.hljs {
    white-space: inherit;
    padding: 0.5em 1em;
    background-color: @codeBackground;
  }
}
