h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: @sansFontFamily;
  font-weight: 700;
  line-height: 1.5em;
  word-wrap: break-word;
  color: @darkGrayTextHeaders;
}

h1 {
  font-size: 2em;
  margin: 1em 0 .5em;

  &.signature {
    margin: 0;
  }

  &.section-heading {
    margin: 1.5em 0 .5em;
  }

  & small {
    font-weight: 300;
  }

  a.view-source, .settings {
    font-size: 1.2rem;
    font-weight: normal;
  }
}

h2 {
  font-size: 1.6em;
  margin: 1em 0 .5em;
  font-weight: 700;
}

h3 {
  font-size: 1.375em;
  margin: 1em 0 .5em;
  font-weight: 700;
}

a {
  .linkUnderlines(@black);
}

a.no-underline {
  text-decoration: none;
}

a.view-source {
  float: right;
  color: #727272;
  text-decoration: none;
  border: none;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: @darkGray;
  }
}

.settings {
  background-color: transparent;
  float: right;
  color: #727272;
  text-decoration: none;
  border: none;
  transition: color 0.1s ease-in-out;
  margin-top: 12px;
  cursor: pointer;

  &:hover {
    color: @darkGray;
  }
}

.livebook-badge-container {
  display: flex;
}

a.livebook-badge {
  display: inline-flex;
}

.note {
  color: #727272;
  margin-right: 5px;
  font-size: 14px;
  font-weight: normal;
}

h1 .note {
  float: right;
}

blockquote {
  border-left: 3px solid @gray;
  position: relative;
  margin: 1.5625em 0;
  padding: 0 1.2rem;
  overflow: auto;
  background-color: #f6f6f6;
  border-radius: 3px;

  &.warning,
  &.error,
  &.info,
  &.neutral,
  &.tip {
    color: @black;
    border-radius: 10px;
    border-left: 0;
  }

  &.warning {
    background-color: #fff7ed;
  }

  &.error {
    background-color: #fdeeec;
  }

  &.info {
    background-color: #e9f5fe;
  }

  &.neutral {
    background-color: #e2e8ef;
  }

  &.tip {
    background-color: #9dc5aa;
  }

  h3.warning,
  h3.error,
  h3.info,
  h3.neutral,
  h3.tip,
  h4.warning,
  h4.error,
  h4.info,
  h4.neutral,
  h4.tip {
    margin: 0 -1.2rem;
    padding: 0.7rem 1.2rem 0.7rem 3.3rem;
    font-weight: 700;
    font-style: normal;
    color: #fff;

    &::before {
      position: absolute;
      left: 1rem;
      font-size: 1.8rem;

      .remix-icon
    }

    &.warning {
      background-color: #f3ac55;
      color: @black;

      &::before {
        color: @black;
        content: @icon-error-warning;
      }
    }

    &.error {
      background-color: #eb5949;

      &::before {
        content: @icon-error-warning;
      }
    }

    &.info {
      background-color: #4496f7;

      &::before {
        content: @icon-information;
      }
    }

    &.neutral {
      background-color: #101828;

      &::before {
        content: @icon-double-quotes-l;
      }
    }

    &.tip {
      background-color: #1f4034;

      &::before {
        content: @icon-error-warning;
      }

    }
  }

  p:last-child {
    padding-bottom: 1em;
    margin-bottom: 0;
  }
}

table {
  margin: 2em 0;
}

th {
  text-align: left;
  font-family: @sansFontFamily;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: .5em;
}

tr {
  border-bottom: 1px solid @lightestGray;
  vertical-align: bottom;
  height: 2.5em;
}

td, th {
  padding-left: 1em;
  line-height: 2em;
  vertical-align: top;
}

.section-heading {
  &:hover a.hover-link {
    opacity: 1;
    text-decoration: none;
  }

  a.hover-link {
    transition: opacity 0.3s ease-in-out;
    display: inline-block;
    opacity: 0;
    padding: .3em .6em .6em;
    line-height: 1em;
    margin-left: -2.7em;
    text-decoration: none;
    border: none;
    font-size: 16px;
    vertical-align: middle;
  }
}

.detail h1.section-heading,
.detail h2.section-heading,
.detail h3.section-heading,
.detail h4.section-heading,
.detail h5.section-heading,
.detail h6.section-heading {
  margin-left: 0.3em;
}

.app-vsn {
  display: none !important;
  font-size: 0.6em;
  line-height: 1.5em;
}

@media screen and (max-width: 768px) {
  .app-vsn {
    display: block !important;
  }
}

img {
  max-width: 100%;
}

code {
  font-family: @monoFontFamily;
  font-style: normal;
  line-height: 24px;
  font-weight: 400;
}
