.summary-table {

  table, th, td {
    border: 1px solid @gray;
    border-collapse: collapse;
  }

  th, td {
    padding: 10px;
  }

  th {
    background-color: @mediumGray;
    font-weight: 700;
    text-align: center;

    a {
      color: white;
      background: none;
      border: none;
      text-shadow: none;
    }
  }

  td {
    background-color: @detailGray;
    font-family: @serifFontFamily;
    font-style: italic;

    p {
      margin: 0;
      padding: 0;
    }

    .summary-item-title {
      font-family: @monoFontFamily;
      font-weight: 700;

      a {
        color: #039be5;
        background: none;
        border: none;
        text-shadow: none;
      }
    }
  }

}
