.types {
  margin: 2em 0 1em;

  .types-list {
    list-style: none;
    padding: 1em 1.5em;
    border: 1px solid @lightGray;

    li {
      code {
        border: none;
        background: none;
      }
    }
  }
}
