// Colors
@comment: #939393;

/* https://tmbb.github.io/makeup_demo/elixir.html#tango */
body.night-mode {
  .makeup {
    .c {color: @comment; } /* :comment */
    .c1 {color: @comment; } /* :comment_single */
    .ch {color: @comment; } /* :comment_hashbang */
    .cm {color: @comment; } /* :comment_multiline */
    .cp {color: @comment; } /* :comment_preproc */
    .cpf {color: @comment; } /* :comment_preproc_file */
    .cs {color: @comment; } /* :comment_special */
    .gp {color: @comment; } /* :generic_prompt */
  }
}