.night-mode-toggle {
  background: none;
  border: none;

  &:after {
    font-size: 12px;
    content: 'Switch to night mode';
    text-decoration: underline;
  }

  &:focus {
    outline: none;
  }
}

body.night-mode {
  @import 'npm://highlight.js/src/styles/tomorrow-night';
  background: @nightBackground;

  .content-outer {
    background: @nightBackground;
  }

  .night-mode-toggle {
    &:after {
      color: @mediumGray;
      content: 'Switch to day mode';
      text-decoration: underline;
    }
  }

  .content-inner a.close-search {
    text-shadow: none;
    background-image: none;
    &:hover {
      color: @white;
    }
  }

  .results .result-id a {
    &:visited,
    &:active,
    &:focus {
      color: @nightTextHeaders;
    }

    &:hover {
      color: @purple;
    }
  }

}
