body.night-mode {
  background: @nightBackground;

  .night-mode-toggle .icon-theme::before {
    content: "\e901";
  }

  #search .result-id a {
    &:visited,
    &:active,
    &:focus {
      color: @nightTextHeaders;
    }

    &:hover {
      color: @main;
    }
  }

  blockquote {
    border-left: 3px solid rgb(68, 68, 76);
    background-color: rgb(44, 44, 49)
  }
}
