body.dark {
  #quick-switch-modal-body {
    .ri-search-2-line {
      color: @nightMediumGray;
    }

    #quick-switch-input {
      border-bottom-color: @nightMediumGray;
    }

    #quick-switch-results {
      margin: 0;

      .quick-switch-result {
        border-bottom-color: @nightMediumGray;
      }
    }
  }
}
