body.night-mode {
  #quick-switch-modal-body {
    .icon-search {
      color: @nightMediumGray;
    }

    #quick-switch-input {
      border-bottom-color: @nightMediumGray;
    }

    #quick-switch-results {
      margin: 0;

      .quick-switch-result {
        border-bottom-color: @nightMediumGray;
      }
    }
  }
}
