body.night-mode {
  #tooltip {
    box-shadow: 0 0 10px fade(@black, 50%);
    .tooltip-body {
      border: 1px solid @nightHeader;
      .docstring {
        background: @nightBackground;
      }
    }
  }
}
