# `<%=h module.title %>`
<%= if module.source_url do %>[🔗](<%= module.source_url %>)<% end %>

<%= for annotation <- module.annotations do %>*<%= annotation %>* <% end %>
<%= if deprecated = module.deprecated do %>
> This <%= module.type %> is deprecated. <%=h deprecated %>.
<% end %>
<%= node_doc(module) %>
<%= for group <- module.docs_groups, node <- group.docs do %>
<%= detail_template(node, module) %>
<% end %><%= if config.api_reference do %>

---

*Consult [api-reference.md](api-reference.md) for complete listing*
<% end %>
