<%= if groups != [] do %>
## <%= title %>

<%= for {title, nodes} <- groups do %>
<%= if title do %>
- <%=h to_string(title) %>
<%= for node <- nodes do %>  - [<%=h node.title %>](<%= URI.encode node.id %>.md)<%= synopsis(node) %>
<% end %>
<% else %>
<%= for node <- nodes do %>- [<%=h node.title %>](<%= URI.encode node.id %>.md)<%= synopsis(node) %>
<% end %>
<% end %>
<% end %>
<% end %>