<%= head_template(config, %{title: "Search", type: :search, noindex: true}) %>
<%= sidebar_template(config, nodes_map) %>

<div id="search">
  <h1>
    <span></span>
  </h1>

  <div class="loading"><div></div><div></div><div></div><div></div></div>
</div>
<script src="<%= asset_rev config.output, "dist/search_data*.js" %>"></script>
<%= footer_template(config, nil) %>
