### <%= name %>

<%= for node <- nodes do %>

#### [`<%=h node.signature %>`](#<%= enc node.id %>)

<%= if deprecated = node.deprecated do %>
> <%= h(deprecated) %>
<% end %>

<%= if doc = node_doc(node) do %>
<%= synopsis(doc) %>
<% end %>

<% end %>
