<%= head_template(config, %{title: title}) %>
    <%= content %>
    <%# Extra content specified by the user (e.g. custom Javascript) %>
    <%= config.before_closing_body_tag.(:epub) %>
  </body>
</html>
