<%= head_template(config, node.title) %>
    <h1 id="content"><%= ExDoc.DocAST.to_string(node.title_doc) %></h1>
    <%= render_doc(node.doc) %>
    <%= before_closing_body_tag(config, :epub) %>
  </body>
</html>
