<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= config.language %>" lang="<%= config.language %>"
      xmlns:epub="http://www.idpf.org/2007/ops">
  <head>
    <meta charset="utf-8" />
    <title><%= title %> - <%= config.project %> v<%= config.version %></title>
    <meta name="generator" content="ExDoc v<%= ExDoc.version() %>" />
    <link type="text/css" rel="stylesheet" href="dist/<%= Assets.css_filename(config.proglang) %>" />
    <script src="dist/<%= Assets.js_filename() %>"></script>
    <%= before_closing_head_tag(config, :epub) %>
  </head>
  <body class="content-inner">
