<%= for {title, nodes} <- nodes do %>
  <%= if title do %>
    <li><span><%=h to_string(title) %></span>
      <ol>
  <% end %>
  <%= for node <- nodes do %>
      <li><a href="<%= URI.encode node.id %>.xhtml"><%=h node.title %></a></li>
  <% end %>
  <%= if title do %>
      </ol>
    </li>
  <% end %>
<% end %>
