/* See general.css for base admonition styles - they are shared with blockquote */

.content-inner section.admonition {
  --admonitionBackground: transparent;
  --admonitionHeading: var(--contrast);

  background-color: var(--admonitionBackground);
  border-radius: var(--borderRadius-base);

  &.warning {
    --admonitionBackground: var(--warningBackground);
    --admonitionHeading: var(--warningHeading);
    --admonitionPrintHeading: hsl(var(--warningHue), 90%, 40%);
    --admonitionIcon: var(--icon-error-warning);
  }
  &.error {
    --admonitionBackground: var(--errorBackground);
    --admonitionHeading: var(--errorHeading);
    --admonitionPrintHeading: hsl(var(--errorHue), 80%, 40%);
    --admonitionIcon: var(--icon-error-warning);
  }
  &.info {
    --admonitionBackground: var(--infoBackground);
    --admonitionHeading: var(--infoHeading);
    --admonitionPrintHeading: hsl(var(--infoHue), 80%, 40%);
    --admonitionIcon: var(--icon-information);
  }
  &.neutral {
    --admonitionBackground: var(--neutralBackground);
    --admonitionHeading: var(--neutralHeading);
    --admonitionPrintHeading: hsl(var(--neutralHue), 30%, 40%);
    --admonitionIcon: var(--icon-double-quotes-l);
  }
  &.tip {
    --admonitionBackground: var(--tipBackground);
    --admonitionHeading: var(--tipHeading);
    --admonitionPrintHeading: hsl(var(--tipHue), 50%, 40%);
    --admonitionIcon: var(--icon-information);
  }

  & > .admonition-title {
    color: var(--admonitionHeading);
    padding-left: 2.2rem;
    font-weight: 700;
    font-style: normal;

    &::before {
      content: var(--admonitionIcon);
      color: var(--admonitionHeading);
      position: absolute;
      left: 1rem;
      font-size: 1.8rem;
      font-family: 'remixicon';
      font-style: normal;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    & code {
      margin: 0 0.5ch;
    }
  }

  @media screen and (max-width: 768px) {
    margin-left: calc(-1 * var(--content-gutter));
    margin-right: calc(-1 * var(--content-gutter));
    padding-left: var(--content-gutter);
    padding-right: var(--content-gutter);
    border-radius: 0;
  }

  @media print {
    &:is(.warning, .error, .info, .neutral, .tip) {
      border-color: hsl(from var(--admonitionHeading) h s l / 15%);
    }

    & > .admonition-title {
      &, &::before {
        color: var(--admonitionPrintHeading, var(--admonitionHeading));
      }
    }
  }
}
