.content-inner .footer {
  margin: 4em auto 1em;
  text-align: center;
  font-size: var(--text-sm);
}

.content-inner .footer .line {
  display: inline-block;
}

.content-inner .footer .line {
  display: inline-block;
}

.content-inner .footer .line a, .content-inner .footer .line button {
  padding: 0 4px;
}

.content-inner .footer button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
