.content-inner .footer {
  margin: 4em auto 1em;
  text-align: center;
  font-size: var(--text-sm);

  & .line {
    display: inline-block;

    & :is(a, button) {
      padding: 0 4px;
    }
  }

  & button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }
}
