/* Summary section subheading (e.g., Types) */
.content-inner .summary {
  & h3 a {
    text-decoration: none;
    border: none;
    color: var(--textHeaders) !important;
  }

  & span.deprecated {
    color: var(--darkDeprecated);
    font-weight: normal;
  }

  & .summary-row {
    & .summary-signature {
      font-family: var(--monoFontFamily);
      font-size: 13px;
      font-weight: 700;

      & a {
        text-decoration: none;
        border: none;
      }
    }

    & .summary-synopsis {
      padding: 0 1.2em;
      margin: 0 0 0.5em;

      & p {
        margin: 0;
        padding: 0;
      }
    }
  }
}
