.autocomplete {
  display: none;
  height: 0;
  margin: 0 5px 0 12px;
  overflow: visible;
  position: relative;
  width: 100%;
}

.autocomplete.shown {
  display: block;
}

.autocomplete-suggestions {
  box-shadow: 2px 2px 10px rgba(0,0,0,.25);
  background-color: var(--gray700);
  border-top: 1px solid var(--gray800);
  left: 0;
  position: absolute;
  top: -2px;
  width: 276px;
  z-index: 200;
}

.autocomplete-suggestion {
  color: inherit;
  display: block;
  padding: 10px;
  text-decoration: none;
}

.autocomplete-suggestion-title-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.autocomplete-suggestion:hover,
.autocomplete-suggestion.selected {
  background-color: var(--gray600);
  border-left: 3px solid var(--main);
}

.autocomplete-suggestion em {
  font-style: normal;
  font-weight: bold;
}

.autocomplete-suggestion .description {
  opacity: .6;
  padding-top: 3px;
}

.autocomplete-suggestion .label {
  padding-left: 2px;
  opacity: .75;
}

.autocomplete-suggestion .title,
.autocomplete-suggestion .description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}
