.autocomplete {
  display: none;
  position: absolute;
  width: calc(100% - 32px);
  top: 55px;
}

.autocomplete .triangle {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid var(--autocompleBackground);
  position: absolute;
  top: 8px;
  left: 26px;
  transform: translateX(-50%);
  z-index: 100;
  background-color: transparent;
}

.autocomplete-results {
  list-style: none;
  margin: 0;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  color: var(--autocompleteResults);
  font-family: var(--sansFontFamily);
  font-weight: 300;
  font-size: 0.9rem;
}

.autocomplete-results .bold {
  color: var(--autocompleteResultsBold);
  font-weight: 400;
}

.autocomplete.shown {
  display: block;
}

.autocomplete-suggestions {
  background-color: var(--autocompleBackground);
  border-radius: 8px;
  position: absolute;
  top: 15px;
  width: 100%;
  z-index: 200;
  box-shadow: 0px 15px 99px 0px var(--autocompleteBorder);
  overflow-y: auto;
  max-height: 450px;
  white-space: normal;
  overflow-x: hidden;
}

.autocomplete-suggestion {
  color: inherit;
  display: block;
  padding: 12px 20px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
  border-bottom: 1px solid var(--suggestionBorder);
  font-size: 0.9rem;
}

.autocomplete-suggestion:first-child {
  border-top: 1px solid var(--suggestionBorder);
}

.autocomplete-suggestion:last-child {
  border-bottom: 0;
}

.autocomplete-suggestion:hover,
.autocomplete-suggestion.selected {
  background-color: var(--autocompleteHover);
}

.autocomplete-suggestion em {
  font-style: normal;
  font-weight: bold;
}

.autocomplete-suggestion .description {
  opacity: 0.6;
  padding-top: 3px;
}

.autocomplete-suggestion .label {
  background-color: var(--autocompleteLabelBack);
  opacity: 0.6;
  color: var(--autocompleteLabelFont);
  padding: 4px 8px 4px 8px;
  border-radius: 4px;
  margin-left: 10px;
  text-transform: uppercase;
  font-family: var(--sansFontFamily);
  font-size: 0.7rem;
}

.autocomplete-suggestion .title,
.autocomplete-suggestion .description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.autocomplete-suggestions a {
  text-decoration: none !important;
}

/* Style the scrollbar track (the area behind the thumb) */
.autocomplete-suggestions::-webkit-scrollbar {
  width: 5px; /* Set the width of the scrollbar */
  border-radius: 7px; /* Add rounded corners to the thumb */
  flex-shrink: 0;
}

/* Style the scrollbar thumb (the draggable part) */
.autocomplete-suggestions::-webkit-scrollbar-thumb {
  background-color: var(--autocompleteSrollbarThumb);
  border-radius: 7px;
}

/* Style the scrollbar track on hover */
.autocomplete-suggestions::-webkit-scrollbar-track {
  background-color: var(--autocompleteSrollbarTrack);
}

@media screen and (max-width: 1023px) {
  .autocomplete-results .press-return {
    display: none;
  }
}
