html,
body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--background);
  color: var(--textBody);
  font-size: 16px;
  font-family: var(--sansFontFamily);
  line-height: 1.6875em;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.main {
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
}

.sidebar-button {
  position: fixed;
  z-index: 99;
  left: 0;
  top: 7px;
  transition: color 0.3s ease-in-out, transform 0.15s ease-out 0.1s,
    opacity 0.15s ease-out 0.1s;
  will-change: transform;
  transform: translateX(250px);
}

.content {
  width: calc(100% - 300px);
  left: 300px;
  height: 100%;
  position: absolute;
  z-index: 3;
}

body.sidebar-opening .sidebar-button {
  transition: transform 0.3s ease-in-out;
}

body.sidebar-opening .sidebar {
  left: 0;
  transition: left 0.3s ease-in-out;
}

body.sidebar-opening .content {
  width: calc(100% - 300px);
  left: 300px;
  transition: all 0.3s ease-in-out;
}

body.sidebar-closing .sidebar-button {
  transform: translateX(0);
}

body.sidebar-closing .sidebar {
  left: -300px;
  transition: left 0.3s ease-in-out;
}

body.sidebar-closing .content {
  width: 100%;
  left: 0;
  transition: all 0.3s ease-in-out;
}

body.sidebar-closed .sidebar-button {
  transition: transform 0.3s ease-in-out;
  transform: translateY(-8px);
}

body.sidebar-closed .sidebar {
  left: -300px;
}

body.sidebar-closed .content {
  width: 100%;
  left: 0;
}

body.search-focused .sidebar-button {
  transform: translateX(250px) scaleY(0);
  transition: all 0.15s ease-out;
  opacity: 0;
}

body.search-focused .sidebar-search .search-close-button {
  transform: scaleY(1);
  transition: transform 0.15s ease-out 0.15s;
}

.content-inner {
  max-width: 949px;
  margin: 0 auto;
  padding: 3px 60px;
}

.content-cheatsheet {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3px 60px;
}

.content-inner:focus {
  outline: none;
}

.content-outer {
  min-height: 100%;
}

@media screen and (max-width: 768px) {
  .content,
  body.sidebar-opening .content {
    left: 0;
    width: 100%;
  }

  .content-inner,
  .content-cheatsheet {
    padding: 27px 20px 27px 40px;
    max-width: 100%;
    overflow-x: auto;
  }
}
