@media print {
  /* Basic layout and columns */
  .page-cheatmd .content-inner {
    max-width: 100%;
    width: 100%;
    padding: 0;
    font-size: 0.85em;
  }

  .page-cheatmd section.col-2 {
    column-count: 2;
    column-gap: 20px;
    height: auto;
  }

  .page-cheatmd section.col-2-left {
    display: grid;
    grid-template-columns: 33% 63.2%;
    column-gap: 20px;
  }

  .page-cheatmd section.col-2-left > h2 {
    display: block;
    grid-column-end: span 2;
  }

  .page-cheatmd section.col-3 {
    column-count: 3;
    column-gap: 10px;
    height: auto;
  }

  .page-cheatmd section.list-4 > ul > li {
    flex: 0 0 25%;
  }

  .page-cheatmd section.list-6 > ul > li {
    flex: 0 0 16.6667%;
  }

  .page-cheatmd section.list-4 > ul {
    display: flex;
    flex-wrap: wrap;
  }

  .page-cheatmd section.list-6 > ul {
    display: flex;
    flex-wrap: wrap;
  }

  .page-cheatmd section.width-50 {
    display: block;
    width: 50%;
    margin: 0;
  }

  .page-cheatmd section.width-50 > section > table {
    width: 100%;
  }

  /* h1 styling */

  .page-cheatmd h1 {
    margin-top: 0em;
    margin-bottom: 0.5em;
  }

  /* h2 styling */

  .page-cheatmd h2.section-heading {
    margin: 1em 0 0.25em;
    column-span: all;
  }

  /* for some reason Firefox extends the h2 border-left to the following h3 when printing,
     moving the border-left to the :before pseudo-element fixes this */

  .page-cheatmd h2.section-heading:before {
    border-left: solid 6px var(--gray100);
    margin-right: 8px;
    content: " ";
  }

  .page-cheatmd section.h2 {
    page-break-inside: avoid;
  }

  /* h3 styling */

  .page-cheatmd h3 {
    white-space: nowrap;
    overflow: hidden;
    margin: 0 0 0.25em;
    padding-left: 5px;
  }

  .page-cheatmd h3.section-heading {
    overflow: hidden;
  }

  .page-cheatmd section.h3 {
    min-width: 300px;
    margin: 0 0 0.75em 0;
    break-inside: avoid;
    page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
  }

  /* h4 styling */

  .page-cheatmd h4 {
    display: block;
    margin: -1px 0 -1px 0;
    padding: 0.5em;
    border: solid 1px var(--gray300);
  }

  /* p styling */

  .page-cheatmd .content-inner p {
    font-size: 0.95em;
    line-height: 1.5em;
    padding: 0.5em;
  }

  /* Ensure solo p tags have borders around them, but merge the border
     when multiple p tags are next to each other */
  .page-cheatmd .content-inner section p {
    display: block;
    margin: -1px 0 -1px 0;
    font-size: 0.95em;
    line-height: 1.5em;
    padding: 0.5em;
    border: solid;
    border-color: var(--gray300);
    border-width: 1px 1px 0px 1px;
  }

  .page-cheatmd .content-inner section p + p {
    border-width: 0px 1px 0px 1px;
  }

  .page-cheatmd .content-inner section p:last-of-type {
    border-width: 0px 1px 1px 1px;
  }

  .page-cheatmd .content-inner section p:only-of-type {
    border-width: 1px;
  }

  /* Tables */

  .page-cheatmd table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    font-variant-numeric: tabular-nums;
    page-break-inside: avoid;
  }

  .page-cheatmd th,
  .page-cheatmd td {
    text-align: left;
    vertical-align: top;
    padding: 0.5em;
    font-size: 0.95em;
  }

  .page-cheatmd thead {
    border: 1px solid var(--gray300);
  }

  .page-cheatmd .content-inner tbody tr {
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: var(--gray200);
  }

  .page-cheatmd .content-inner thead tr {
    border-bottom: none;
  }

  .page-cheatmd th {
    font-weight: bold;
  }

  .page-cheatmd td {
    font-weight: bold;
    text-align: left;
  }

  /* Code Blocks */

  .page-cheatmd pre {
    margin: 0;
  }

  /* Lists */

  .page-cheatmd ul,
  .page-cheatmd ol {
    margin: 0;
    padding: 0;
    list-style-position: inside;
  }

  .page-cheatmd .h2 li {
    padding: 0.5em 0.75em;
    vertical-align: middle;
    border-bottom: 1px solid var(--gray200);
  }

  .page-cheatmd .h2 li:last-of-type {
    border-bottom: 0;
  }

  /* Remove copy button from code blocks */
  pre:hover button.copy-button {
    display: none;
  }

  /* Remove hover tooltip from inline code references */
  .page-cheatmd div#tooltip {
    display: none;
  }

  .page-cheatmd footer p {
    display: none;
  }

  .page-cheatmd footer p.built-using {
    display: block;
  }
}
