@media print {
  .main {
    display: block;
  }

  .sidebar,
  .sidebar-button {
    display: none;
  }

  .content {
    padding-left: 0;
    overflow: visible;
    left: 0px;
    width: 100%;
  }

  .summary-row {
    page-break-inside: avoid;
  }

  #toast {
    display: none;
  }

  a.view-source {
    display: none;
  }

  button.display-settings {
    display: none;
  }

  .content-inner .bottom-actions {
    display: none;
  }
}
