@media print {
  .body-wrapper {
    display: block;
  }

  .sidebar,
  .sidebar-button {
    display: none;
  }

  .top-search {
    display: none;
  }

  .content {
    padding-left: 0;
    overflow: visible;
    left: 0;
    width: 100%;
  }

  .summary-row {
    break-inside: avoid;
  }

  #toast {
    display: none;
  }

  .content-inner {
    padding: 0;

    & .section-heading a.hover-link {
      display: none;
    }

    & :is(button, a).icon-action {
      display: none;
    }

    & .bottom-actions {
      display: none;
    }

    & pre code.makeup {
      white-space: break-spaces;
      break-inside: avoid;
    }
  }

  /* Hide On Hex.pm text but keep Built Using ExDoc */
  .footer p:first-of-type {
    display: none;
  }
}
