@media print {
  /* Set page size to landscape for printing */
  @page {
    size: landscape;
  }

  /* Basic layout and columns */
  .page-cheatmd .content-inner {
    max-width: 100%;
    width: 100%;
    padding: 0;
  }

  .page-cheatmd section.col-2 {
    column-count: 2;
    column-gap: 20px;
    height: auto;
  }

  .page-cheatmd section.col-2-left {
    display: grid;
    grid-template-columns: 33% 63.2%;
    column-gap: 20px;
  }

  .page-cheatmd section.col-2-left > h2 {
    display: block;
    grid-column-end: span 2;
  }

  .page-cheatmd section.col-3 {
    column-count: 3;
    column-gap: 10px;
    height: auto;
  }

  .page-cheatmd section.list-4 > ul > li {
    flex: 0 0 25%;
  }

  .page-cheatmd section.list-6 > ul > li {
    flex: 0 0 16.6667%;
  }

  .page-cheatmd section.list-4 > ul {
    display: flex;
    flex-wrap: wrap;
  }

  .page-cheatmd section.list-6 > ul {
    display: flex;
    flex-wrap: wrap;
  }

  .page-cheatmd section.width-50 {
    display: block;
    width: 50%;
    margin: 0;
  }

  .page-cheatmd section.width-50 > section > table {
    width: 100%;
  }

  /* h1 styling */

  .page-cheatmd h1 {
    margin-top: 0em;
    margin-bottom: 1em;
  }

  /* h2 styling */

  .page-cheatmd h2 {
    margin: 1.5em 0 0.25em;
    column-span: all;
    padding-left: 8px;
    border-left: solid 6px var(--gray500);
  }

  .page-cheatmd section.h2 {
    page-break-inside: avoid;
  }

  /* h3 styling */

  .page-cheatmd h3 {
    white-space: nowrap;
    overflow: hidden;
    margin: 0 0 0.25em;
    padding-left: 5px;
  }

  .page-cheatmd h3.section-heading {
    overflow: hidden;
  }

  .page-cheatmd section.h3 {
    min-width: 300px;
    margin: 0 0 0.5em 0;
    break-inside: avoid;
    page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
  }

  /* Line to the side of the h3 */
  .page-cheatmd h3.section-heading:after {
    content: "";
    display: inline-block;
    height: 0.75em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 2px solid var(--gray200);
  }

  /* h4 styling */

  .page-cheatmd h4 {
    display: block;
    margin: 0;
    padding: 0.25em;
    /* font-weight: 600; */
    border: solid 1px var(--gray800);
  }

  /* p styling */

  .page-cheatmd .h2 p {
    padding: 0.5em;
  }

  /* Ensure solo p tags have borders around them, but merge the border
     when multiple p tags are next to each other */
  .page-cheatmd .content-inner section p {
    display: block;
    margin: 0;
    padding: 0.5em;
    border: solid;
    border-color: var(--gray800);
    border-width: 1px 1px 0px 1px;
  }

  .page-cheatmd .content-inner section p + p {
    border-width: 0px 1px 0px 1px;
  }

  .page-cheatmd .content-inner section p:last-of-type {
    border-width: 0px 1px 1px 1px;
  }

  .page-cheatmd .content-inner section p:only-of-type {
    border-width: 1px;
  }

  /* Tables */

  .page-cheatmd table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    font-variant-numeric: tabular-nums;
    page-break-inside: avoid;
  }

  .page-cheatmd th,
  .page-cheatmd td {
    vertical-align: top;
    border: 1px solid var(--gray800);
    padding: 0.25em 0.5em;
  }

  .page-cheatmd th {
    font-weight: bold;
    text-align: left;
    color: var(--gray800);
  }

  /* Code Blocks */

  .page-cheatmd pre {
    margin: 0;
  }

  /* Lists */

  .page-cheatmd ul,
  .page-cheatmd ol {
    border: 1px solid var(--gray800);
    margin: 0;
    padding: 0;
    list-style-position: inside;
  }

  .page-cheatmd .h2 li {
    padding: 0.25em 0.5em;
    line-height: 1.5em;
    vertical-align: middle;
    border-bottom: 1px solid var(--gray800);
  }

  .page-cheatmd .h2 li:last-of-type {
    border-bottom: 0px;
  }

  /* Remove copy button from Code Blocks */

  pre:hover button.copy-button {
    display: none;
  }
}
