#quick-switch-modal-body {
  width: 100%;
  position: relative;

  & .ri-search-2-line {
    position: absolute;
    left: 0;
    top: 0;
    padding: 4px 10px;
    color: var(--quickSwitchContour);
    font-weight: bold;
  }

  & #quick-switch-input {
    width: 100%;
    padding: 8px 6px 8px 38px;
    border: none;
    color: var(--quickSwitchInput);
    background-color: transparent;
    border-bottom: 1px solid var(--quickSwitchContour);
    box-sizing: border-box;
    transition: all 0.12s ease-out;
  }

  & #quick-switch-results {
    margin: 0;
  }

  & .quick-switch-result {
    padding: 2px 5px;
    border-bottom: 1px dotted var(--quickSwitchContour);
    transition: all 0.12s ease-out;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      cursor: pointer;
    }

    &:is(:hover, .selected) {
      border-left: 4px solid var(--main);
      background-color: var(--codeBackground);
    }
  }
}
