.sidebar {
  --sidebarFontSize: 16px;
  --sidebarLineHeight: 20px;
  font-family: var(--sansFontFamily);
  font-size: var(--sidebarFontSize);
  font-weight: 300;
  line-height: var(--sidebarLineHeight);
  background-color: var(--sidebarBackground);
  color: var(--sidebarAccentMain);
  overflow: hidden;
  scrollbar-color: var(--sidebarScrollbarThumb) var(--sidebarScrollbarTrack);
}

.non-apple-os .sidebar {
  font-weight: 400; /* Non-Apple OSes render small light type too thinly */
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  margin: 0;
  padding: 0 10px;
}

.sidebar a {
  color: var(--sidebarAccentMain);
  text-decoration: none;
  transition: color .3s ease-in-out;
}

.sidebar a:hover {
  color: var(--sidebarHover);
}

.sidebar .sidebar-header {
  margin: 12px;
  border-radius: var(--borderRadius);
  background-color: var(--sidebarHeader);
  width: 276px;
}

.sidebar .sidebar-projectDetails {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  margin: 6px 0 0 10px;
}

.sidebar .sidebar-projectImage {
  display: inline-block;
  max-width: 48px;
  max-height: 48px;
  margin: 0 0 0 10px;
  vertical-align: bottom;
}

.sidebar .sidebar-projectName {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: var(--sidebarAccentMain);
  margin: 0;
  padding: 0;
  max-width: 230px;
  word-wrap: break-word;
}

.sidebar .sidebar-projectVersion {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  font-size: var(--sidebarFontSize);
  line-height: var(--sidebarLineHeight);
  color: var(--sidebarMuted);
}

.sidebar .sidebar-projectVersionsDropdown {
  cursor: pointer;
  position: relative;
  margin: 0;
  padding: 0 0 0 12px;
  border: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  color: var(--sidebarMuted);
  z-index: 2;
}

.sidebar .sidebar-projectVersionsDropdown option {
  color: initial;
}

.sidebar .sidebar-projectVersion form::after {
  position: absolute;
  left: 0;
  top: 2px;
  content: "\25bc";
  z-index: 1;
  font-size: 8px;
  color: var(--sidebarMuted);
}

.sidebar .sidebar-projectVersionsDropdown::-ms-expand {
  display: none;
}

.sidebar .sidebar-listNav {
  padding: 0;
  padding-top: 12px;
  margin: 0;
}

.sidebar .sidebar-listNav :is(li, li a) {
  text-transform: uppercase;
  font-size: 14px;
  color: var(--sidebarMuted);
}

.sidebar .sidebar-listNav li {
  display: inline-block;
  padding: 0;
}

.sidebar .sidebar-listNav li a {
  display: inline-block;
  line-height: 27px;
  border-bottom: 3px solid transparent;
  padding: 0 10px;
}

.sidebar .sidebar-listNav li:is(:hover, .selected) a {
  border-color: var(--sidebarLanguageAccentBar);
}

.sidebar .sidebar-listNav li:is(:hover, .selected) a {
  color: var(--sidebarAccentMain);
}

.sidebar .sidebar-search {
  margin-top: 12px;
}

.sidebar .sidebar-search.selected .search-button,
.sidebar .sidebar-search .search-button:hover,
.sidebar .sidebar-search .search-button:focus {
  color: var(--sidebarLanguageAccentBar);
  opacity: 1;
}

.sidebar .sidebar-search .search-label {
  position: relative;
  width: 100%;
}

.sidebar .sidebar-search .search-button {
  font-size: 14px;
  color: var(--sidebarAccentMain);
  background-color: transparent;
  border: none;
  cursor: pointer;
  left: 22px;
  margin: 0;
  opacity: .5;
  padding: 3px 1px 3px 0;
  position: absolute;
  top: 18px;
  z-index: 2;
}

.sidebar .sidebar-search .search-close-button {
  font-size: var(--sidebarFontSize);
  color: var(--sidebarAccentMain);
  background-color: transparent;
  border: none;
  cursor: pointer;
  right: 18px;
  margin: 0;
  opacity: .5;
  padding: 5px 1px 5px 0;
  position: absolute;
  transform: scaleY(0);
  top: 17px;
  transition: .15s transform ease-out;
  z-index: 2;
}

.sidebar .sidebar-search .search-close-button:hover {
  opacity: .7;
}

.sidebar .sidebar-search .search-input {
  background-color: var(--sidebarSearch);
  border: none;
  border-radius: var(--borderRadius);
  color: var(--sidebarAccentMain);
  margin-left: 12px;
  padding: 8px 6px 8px 38px;
  width: 276px;
}

.sidebar .sidebar-search .search-input::placeholder {
  color: var(--sidebarAccentMain);
  opacity: 0.3;
}

.sidebar .sidebar-search .ri-search-2-line {
  font-weight: bold;
}

.sidebar #full-list {
  margin: 0;
  padding: 20px 0;
  overflow-y: auto;
  overscroll-behavior: contain;
  position: relative;
  -webkit-overflow-scrolling: touch;
  flex: 1 1 .01%;
}

.sidebar #full-list :is(li, a) {
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar #full-list li {
  padding: 0;
  margin-right: 30px;
  line-height: 27px;
  white-space: nowrap;
}

.sidebar #full-list li.docs {
  margin-right: 0;
}

.sidebar #full-list li.open > ul {
  display: block;
  margin-left: 10px;
}

.sidebar #full-list li a.expand + button.icon-expand {
  appearance: none;
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  color: inherit;
  margin-right: 10px;
  font-size: calc(1.2 * var(--sidebarFontSize));
  line-height: var(--sidebarLineHeight);
  position: absolute;
  display: flex;
  right: 0;
  transform: translateY(calc(-100% - 4px));
}

.sidebar #full-list li a + button.icon-expand:after {
  font-family: remixicon;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sidebar #full-list li a.expand + button.icon-expand:after {
  content: var(--icon-arrow-down-s);
}

.sidebar #full-list li.open > a.expand + button.icon-expand:after {
  content: var(--icon-arrow-up-s);
}

.sidebar #full-list li.docs > a + button.icon-expand {
  margin-right: 12px;
  font-size: var(--sidebarFontSize);
  line-height: var(--sidebarFontSize);
  transform: translateY(calc(-100% - 5px));
}

.sidebar #full-list li.docs > a + button.icon-expand:after {
  content: var(--icon-add);
}

.sidebar #full-list li.docs.open > a + button.icon-expand:after {
  content: var(--icon-subtract);
}

.sidebar #full-list li.nesting-context {
  font-weight: bold;
  font-size: .9em;
  line-height: 1.8em;
  color: var(--sidebarSubheadings);
  padding-left: 15px;
}

.sidebar #full-list li.group {
  text-transform: uppercase;
  font-weight: bold;
  font-size: .8em;
  margin: 1.5em 0 0;
  line-height: 1.8em;
  color: var(--sidebarSubheadings);
  padding-left: 15px;
}

.sidebar #full-list li a {
  padding: 3px 0 3px 15px;
  color: var(--sidebarItem);
}

.sidebar #full-list > li > a {
  display: block;
  width: 100%;
  height: 27px;
  line-height: var(--sidebarLineHeight);
}

.sidebar #full-list li .current-section > a {
  color: var(--sidebarActiveItem);
}

.sidebar #full-list li .current-section > a + button.icon-expand {
  color: var(--sidebarActiveItem);
}

.sidebar #full-list > li > a:hover {
  border-left: 3px solid var(--sidebarLanguageAccentBar);
  padding-left: 12px;
}

.sidebar #full-list > li.current-page > a {
  color: var(--sidebarActiveItem);
  border-left: 3px solid var(--sidebarLanguageAccentBar);
  padding-left: 12px;
}

.sidebar #full-list > li.current-page > a:after,
.sidebar #full-list > li.current-page {
  color: var(--sidebarActiveItem);
}

.sidebar #full-list > li:last-child {
  margin-bottom: 30px;
}

.sidebar #full-list > li.group:first-child {
  margin-top: 0;
}

.sidebar #full-list ul {
  display: none;
  margin: 10px 15px;
  margin-right: 0;
  padding: 0;
}

.sidebar #full-list ul li {
  font-weight: 300;
  line-height: var(--sidebarFontSize);
  padding: 0 8px;
  margin-right: 0;
  color: var(--sidebarAccentMain);
}

.non-apple-os .sidebar #full-list ul li {
  font-weight: 400; /* Non-Apple OSes render small light type too thinly */
}

.sidebar #full-list ul li.current-hash {
  color: var(--sidebarActiveItem);
}

.sidebar #full-list ul li.current-hash > a {
  color: var(--sidebarActiveItem);
}

.sidebar #full-list ul li.current-hash > a:before,
.sidebar #full-list > li > ul > li > a:hover:before {
  content: "\2022";
  position: absolute;
  margin-left: -15px;
  color: var(--sidebarActiveItem);
}

.sidebar #full-list ul li a {
  padding-left: 15px;
  display: block;
  width: 100%;
  height: 24px;
}

.sidebar #full-list ul li ul {
  display: none;
  margin: 9px 20px;
  margin-right: 0;
}

.sidebar #full-list ul li ul li {
  margin-right: 0;
  height: 20px;
  color: var(--sidebarAccentMain);
}

.sidebar #full-list ul li ul li a {
  border-left: 1px solid var(--sidebarInactiveItemMarker);
  padding: 0 10px;
  height: 20px;
}

.sidebar #full-list ul li ul li.current-hash > a:before {
  content: none;
}

.sidebar #full-list ul li ul li > a:hover {
  border-color: var(--sidebarLanguageAccentBar);
}

.sidebar #full-list ul li ul li.current-hash > a {
  color: var(--sidebarActiveItem);
  border-color: var(--sidebarLanguageAccentBar);
}

.sidebar #full-list ul li ul li.current-hash > a {
  color: var(--sidebarActiveItem);
  margin-left: 0;
}

.sidebar ::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background-color: var(--sidebarBackground);
}

.sidebar ::-webkit-scrollbar-thumb {
  background-color: var(--sidebarScrollbarThumb);
  border-radius: 10px;
  border: 3px solid var(--sidebarBackground);
}

.sidebar-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 15px 11px;
  font-size: var(--sidebarFontSize);
}

.sidebar-button:hover {
  color: var(--sidebarHover);
}

.sidebar-button {
  color: var(--sidebarAccentMain);
}
.sidebar-closed .sidebar-button {
  color: var(--contrast);
}

@media screen and (max-height: 500px) {
  .sidebar {
    overflow-y: auto;
  }

  .sidebar #full-list {
    overflow: visible;
  }
}
