{
  "extends": "standard",
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false
  },
  "env": {
    "browser": true
  },
  "rules": {
    "no-path-concat": 0,
    "no-throw-literal": 0,
    "no-useless-escape": 0,
    "object-curly-spacing": 0
  }
}
