<tr>
  <td class="summary_signature"><a href="<%=h node.id %>.html"><%=h node.id %></a></td>
  <td class="summary_synopsis"><%= if node.moduledoc do %><%= to_html(synopsis(node.moduledoc)) %><% end %></td>
</tr>
