:root {
  --main:          hsl(250, 68%, 69%); /* purple 600 */
  --mainDark:      hsl(250, 68%, 59%);
  --mainDarkest:   hsl(250, 68%, 49%);
  --mainLight:     hsl(250, 68%, 74%);
  --mainLightest:  hsl(250, 68%, 79%);

  --searchBarFocusColor:  #8E7CE6;
  --searchBarBorderColor: rgba(142, 124, 230, 0.25);

  --link-color:           var(--mainDark);
  --link-visited-color:   var(--mainDarkest);
}

body.dark {
  --link-color:           var(--mainLightest);
  --link-visited-color:   var(--mainLight);
}
