body.dark {
  --background:                  var(--gray900);
  --contrast:                    var(--white);
  --textBody:                    var(--gray200);
  --textHeaders:                 var(--gray100);
  --textDetailBackground:        var(--gray700);
  --textFooter:                  var(--gray300);

  --links:                       var(--gray100);
  --linksVisited:                var(--gray100);
  --linksNoUnderline:            var(--main-lightened-10);
  --linksNoUnderlineVisited:     var(--main-lightened-05);

  --iconAction:                  var(--coldGray-lightened-10);
  --iconActionHover:             var(--white);

  --blockquoteBackground:        var(--coldGrayDim);
  --blockquoteBorder:            var(--coldGrayDark);

  --warningBackground:           hsl( 40,  67%,  79%);
  --warningHeadingBackground:    hsl( 27,  66%,  29%);
  --warningHeading:              var(--white);
  --errorBackground:             hsl(358,  52%,  78%);
  --errorHeadingBackground:      hsl(349,  55%,  34%);
  --errorHeading:                var(--white);
  --infoBackground:              hsl(222,  57%,  77%);
  --infoHeadingBackground:       hsl(243,  65%,  26%);
  --infoHeading:                 var(--white);
  --neutralBackground:           hsl(220,  23%,  82%);
  --neutralHeadingBackground:    hsl(224,  24%,  16%);
  --neutralHeading:              var(--white);
  --tipBackground:               hsl(139,  26%,  69%);
  --tipHeadingBackground:        hsl(158,  35%,  17%);
  --tipHeading:                  var(--white);

  --fnSpecAttr:                  var(--gray500);
  --fnDeprecated:                var(--yellowDark);
  --blink:                       var(--gray600);

  --codeBackground:              var(--gray800);
  --codeBorder:                  var(--gray700);
  --inlineCodeBackground:        var(--gray50);
  --inlineCodeBorder:            var(--gray100);
  --codeScrollThumb:             var(--gray500);
  --codeScrollBackground:        var(--codeBorder);

  --bottomActionsBtnBorder:      var(--white-opacity-10);
  --bottomActionsBtnSubheader:   var(--main);

  --modalBackground:             var(--gray800);

  --settingsInput:               var(--white);
  --settingsInputBackground:     var(--gray700);
  --settingsInputBorder:         var(--gray700);
  --settingsSectionBorder:       var(--gray700);

  --quickSwitchInput:            var(--gray200);
  --quickSwitchContour:          var(--gray500);

  --success:                     var(--green-lightened-10);

  --sidebarButton:               var(--gray50);
}
