:root {
  --background:                  var(--white);
  --contrast:                    var(--black);
  --textBody:                    var(--gray700);
  --textHeaders:                 var(--gray800);
  --textDetailBackground:        var(--coldGrayFaint);
  --textFooter:                  var(--gray600);

  --links:                       var(--black);
  --linksVisited:                var(--black);
  --linksNoUnderline:            var(--main-darkened-10);
  --linksNoUnderlineVisited:     var(--main-darkened-20);
  --linksDecoration:             var(--gray450);

  --iconAction:                  var(--coldGray);
  --iconActionHover:             var(--gray800);

  --blockquoteBackground:        var(--coldGrayFaint);
  --blockquoteBorder:            var(--coldGrayLight);

  --warningBackground:           hsl( 33, 100%,  97%);
  --warningHeadingBackground:    hsl( 33,  87%,  64%);
  --warningHeading:              var(--black);
  --errorBackground:             hsl(  7,  81%,  96%);
  --errorHeadingBackground:      hsl(  6,  80%,  60%);
  --errorHeading:                var(--white);
  --infoBackground:              hsl(206,  91%,  96%);
  --infoHeadingBackground:       hsl(213,  92%,  62%);
  --infoHeading:                 var(--white);
  --neutralBackground:           hsl(212,  29%,  92%);
  --neutralHeadingBackground:    hsl(220,  43%,  11%);
  --neutralHeading:              var(--white);
  --tipBackground:               hsl(142,  31%,  93%);
  --tipHeadingBackground:        hsl(134,  39%,  36%);
  --tipHeading:                  var(--white);

  --fnSpecAttr:                  var(--coldGray);
  --fnDeprecated:                var(--yellowLight);
  --blink:                       var(--yellowLight);

  --codeBackground:              var(--gray25);
  --codeBorder:                  var(--gray100);
  --codeScrollThumb:             var(--gray400);
  --codeScrollBackground:        var(--codeBorder);
  --admCodeBackground:           var(--gray25);
  --admCodeBorder:               var(--gray100);
  --admInlineCode:               var(--black);
  --admInlineCodeBackground:     var(--gray25);
  --admInlineCodeBorder:         var(--gray100);

  --tabBackground:               var(--white);
  --tabBorder:                   var(--gray300);
  --tabBorderTop:                var(--gray100);
  --tab:                         var(--gray600);
  --tabShadow:                   var(--gray25);

  --bottomActionsBtnBorder:      var(--black-opacity-10);
  --bottomActionsBtnSubheader:   var(--main-darkened-10);

  --modalBackground:             var(--white);

  --settingsInput:               var(--gray500);
  --settingsInputBackground:     var(--white);
  --settingsInputBorder:         var(--gray300);
  --settingsSectionBorder:       var(--gray300);

  --quickSwitchInput:            var(--gray500);
  --quickSwitchContour:          var(--coldGray);

  --success:                     var(--green);

  --sidebarButtonBackground:     linear-gradient(180deg,
                                                 var(--white) 20%,
                                                 var(--white-opacity-50) 70%,
                                                 var(--white-opacity-0) 100%);
  --sidebarAccentMain:           var(--gray50);
  --sidebarBackground:           var(--gray800);
  --sidebarHeader:               var(--gray700);
  --sidebarMuted:                var(--gray300);
  --sidebarHover:                var(--white);
  --sidebarScrollbarThumb:       var(--coldGray);
  --sidebarScrollbarTrack:       var(--sidebarBackground);
  --sidebarSubheadings:          var(--gray400);
  --sidebarItem:                 var(--gray200);
  --sidebarInactiveItemMarker:   var(--gray600);
  --sidebarLanguageAccentBar:    var(--main);
  --sidebarActiveItem:           var(--main-lightened-10);
  --searchBarBorder:             var(--gray200);
  --searchAccentMain:            var(--gray-400);
  --searchLanguageAccentBar:     var(--main);
  --searchSearch:                var(--white);
  --autocompleteBorder:          rgba(3, 9, 19, 0.10);
  --autocompleteHover:           var(--grey50, #F0F5F9);
  --autocompleBackground:        var(--white); 
  --suggestionBorder:            var(--gray200);
  --autocompleteResults:         var(--gray500);
  --autocompleteResultsBold:     var(--gray700);
  --autocompleteSrollbarThumb:   var(--gray200);
  --autocompleteSrollbarTrack:   var(--gray50);
}
