<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="css/full_list.css" type="text/css" media="screen" charset="utf-8" />    
    <script type="text/javascript" charset="utf-8" src="js/jquery.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/full_list.js"></script>
    <base id="base_target" target="_parent" />
  </head>
  <body class="frames">
    <script type="text/javascript" charset="utf-8">
      if (window.top.frames.main) {
        document.getElementById('base_target').target = 'main';
        document.body.className = 'frames';
      }
    </script>
    <div id="content">
      <div id="nav">
        <span class="<%= if(scope == :module, do: "selected") %>"><a target="_self" href="module_list.html">
          Modules
        </a></span>
        <span class="<%= if(scope == :record, do: "selected") %>"><a target="_self" href="record_list.html">
          Records
        </a></span>
        <span class="<%= if(scope == :protocol, do: "selected") %>"><a target="_self" href="protocol_list.html">
          Protocols
        </a></span>
        <div class="clear"></div>
      </div>
      <div id="search">Search: <input type="text" /></div>

      <ul id="full_list" class="class">
        <%= names %>
      </ul>
    </div>
  </body>
</html>