<!DOCTYPE html>
<html>
  <head>
    <title><%= name %></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/main.css" type="text/css" media="screen" charset="utf-8">
  </head>

  <body>
    <div class="banner">
      <span>Elixir v0.9</span>
      <h1><%= name %></h1>
    </div>
    <div id="bodyContent">
      <div id="content">
        <% if moduledoc do %>
          <div id="moduledoc" class="description">
            <%= moduledoc %>
          </div>
        <% end %>
        <% unless Enum.empty?(function_docs) do %>
          <div class="sectiontitle">Functions</div>
          <%= function_docs %>
        <% end %>
        <% unless Enum.empty?(macro_docs) do %>
          <div class="sectiontitle">Macros</div>
          <%= macro_docs %>
        <% end %>
      </div>
    </div>
  </body>
</html>
