<!DOCTYPE html>
<html>
  <head>
    <title><%= module.id %></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen" charset="utf-8" />

    <script type="text/javascript" charset="utf-8">
      relpath = '';
      if (relpath != '') relpath += '/';
    </script>

    <script type="text/javascript" charset="utf-8" src="js/jquery.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/app.js"></script>
  </head>

  <body>
    <script type="text/javascript" charset="utf-8">
      if (window.top.frames.main) document.body.className = 'frames';
    </script>

    <div id="content">
      <h1>
        <%= module.id %>
        <%= if module.type do %>
          <small><%= module.type %></small>
        <% end %>
      </h1>

      <%= if module.moduledoc do %>
        <div id="moduledoc" class="docstring">
          <%= to_html(module.moduledoc, module) %>
        </div>
      <% end %>

      <a href="<%= module.source %>" target="_blank" class="view_source">Source</a>

      <%= unless Enum.empty?(impls) do %>
        <h2 id="implementations">Implementations</h2>
        <ul class="summary">
          <%= lc node inlist impls do %>
            <li>
              <span class="summary_signature">
                <a href="<%= node.id %>.html"><%= node.relative %></a>
              </span>
            </li>
          <% end %>
        </ul>
      <% end %>

      <%= unless Enum.empty?(fields) do %>
        <h2>Fields <small>(and defaults)</small></h2>
        <ul class="summary">
          <%= lc { field, default } inlist fields do %>
            <li>
              <span class="summary_signature">
                <strong><%= field %>:</strong> <%= inspect(default) %>
              </span>
            </li>
          <% end %>
        </ul>
      <% end %>
      
      <%= unless Enum.empty?(types) do %>
        <h2 id="types_summary">Types summary</h2>
        <ul class="summary">
          <%= lc node inlist types, do: summary_template(node) %>
        </ul>
      <% end %>

      <%= unless Enum.empty?(functions) do %>
        <h2 id="functions_summary">Functions summary</h2>
        <ul class="summary">
          <%= lc node inlist functions, do: summary_template(node) %>
        </ul>
      <% end %>

      <%= unless Enum.empty?(macros) do %>
        <h2 id="macros_summary">Macros summary</h2>
        <ul class="summary">
          <%= lc node inlist macros, do: summary_template(node) %>
        </ul>
      <% end %>

      <%= unless Enum.empty?(callbacks) do %>
        <h2 id="callbacks_summary">Callbacks summary</h2>
        <ul class="summary">
          <%= lc node inlist callbacks, do: summary_template(node) %>
        </ul>
      <% end %>
      
      <%= unless Enum.empty?(types) do %>
        <div id="types_details" class="details_list">
          <h2>Types</h2>
          <%= lc node inlist types, do: type_detail_template(node, module) %>
        </div>
      <% end %>

      <%= unless Enum.empty?(functions) do %>
        <div id="functions_details" class="details_list">
          <h2>Functions</h2>
          <%= lc node inlist functions, do: detail_template(node, module) %>
        </div>
      <% end %>

      <%= unless Enum.empty?(macros) do %>
        <div id="macros_details" class="details_list">
          <h2>Macros</h2>
          <%= lc node inlist macros, do: detail_template(node, module) %>
        </div>
      <% end %>

      <%= unless Enum.empty?(callbacks) do %>
        <div id="callbacks_details" class="details_list">
          <h2>Callbacks</h2>
          <%= lc node inlist callbacks, do: detail_template(node, module) %>
        </div>
      <% end %>
    </div>
  </body>
</html>
