<!DOCTYPE html>
<html>
  <head>
    <title>Modules</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/reset.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="../css/panel.css" type="text/css" media="screen" charset="utf-8">
  </head>

  <body>
    <div class="panel panel-tree" id="panel">
      <div class="header">
        <div>
          <label for="search" id="search-label" style="display: none">Search</label>
          <table>
            <tr>
              <td>
                <input type="search" placeholder="Search" autosave="searchdoc" results="10" id="search" autocomplete="off"/>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="tree">
        <ul>
          <%= names %>
        </ul>
      </div>
    </div>
  </body>
</html>
