name: CI

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  mix_test:
    runs-on: ubuntu-16.04
    env:
      MIX_ENV: test
    strategy:
      fail-fast: false
      matrix:
        include:
          - pair:
              elixir: 1.10.3
              otp: 21.3.8.21
          - pair:
              elixir: 1.11.3
              otp: 23.2.5
            lint: lint
    steps:
      - uses: actions/checkout@v2

      - uses: erlef/setup-elixir@v1
        with:
          otp-version: ${{matrix.pair.otp}}
          elixir-version: ${{matrix.pair.elixir}}

      - name: Install Dependencies
        run: mix deps.get --only test

      - run: mix format --check-formatted
        if: ${{ matrix.lint }}

      - run: mix deps.get && mix deps.unlock --check-unused
        if: ${{ matrix.lint }}

      - run: mix deps.compile

      - run: mix compile --warnings-as-errors
        if: ${{ matrix.lint }}

      - run: mix test

      - name: Prerelease
        run: test/prerelease.sh

      - name: Generate docs
        run: |
          mix docs
          test -f doc/index.html && echo "doc/index.html exists."
          test -f doc/ex_doc.epub && echo "doc/ex_doc.epub exists."

  check_js:
    name: Check JS
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.3
      - name: Set up Node.js 10.x
        uses: actions/setup-node@v1.4.4
        with:
          node-version: 10.10.0
      - run: npm install --prefix assets
      - run: npm run --prefix assets lint

      - run: sudo apt-get install xvfb
      - name: npm install, build, and test
        run: |
          xvfb-run --auto-servernum npm run --prefix assets test
        env:
          CI: true
