name: Release

on:
  push:
    tags:
      - v*

permissions:
  contents: write

jobs:
  create_release:
    continue-on-error: true
    runs-on: ubuntu-22.04
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Create release
        run: |
          echo "Creating release..."
          gh release create \
            --repo ${{ github.repository }} \
            --title ${{ github.ref_name }} \
            ${{ github.ref_name }}

  release_pre_built:
    needs: create_release
    strategy:
      fail-fast: true
      matrix:
        include:
          - otp: 25
            otp_version: "25.3.2.12"
            elixir_version: "1.16.2"
          - otp: 26
            otp_version: "26.2.5"
            elixir_version: "1.16.2"
          - otp: 27
            otp_version: "27.0"
            elixir_version: "1.17.0"

    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 50
      - uses: ./.github/workflows/release_pre_built
        with:
          otp_version: ${{ matrix.otp_version }}
          otp: ${{ matrix.otp }}
          elixir_version: ${{ matrix.elixir_version }}

      - name: Upload Pre-built
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release upload --clobber "${{ github.ref_name }}" \
            ex_doc_otp_${{ matrix.otp }} \
            ex-doc-otp-${{ matrix.otp }}.sha{1,256}sum \
